{namespace n=Tx_News_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/DateMenu.html
-->



<f:section name="content">
<div class="news news-menu-view accordion">
	<f:groupedFor each="{news}" as="newsByYear" groupBy="yearOf{dateField}" groupKey="year" >
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse-{year}">
					{year}
					<i class="icon icon-plus-sign pull-right"></i>
				</a>
			</div>
			{dateTime.timestamp -> f:format.date(format: 'Y') -> f:comment()}
			<f:if condition="{year} == {dateTime.timestamp -> f:format.date(format: 'Y')}">

				<f:then>
					<div id="collapse-{year}" class="accordion-body collapse in">
					
				</f:then>
				<f:else>
					<div id="collapse-{year}" class="accordion-body collapse">
				</f:else>
			</f:if>
			<div class="accordion-inner">
				<ul>
				<f:groupedFor each="{newsByYear}" as="newsByMonth" groupBy="monthOf{dateField}" groupKey="month">
					<f:if condition="{ 0: year, 1: month } == { 0: overwriteDemand.year, 1: overwriteDemand.month }">
						<f:then>
							<li class="item itemactive">
						</f:then>
						<f:else>
							<li class="item">
						</f:else>
					</f:if>
					<f:link.action pageUid="{listPid}" arguments="{overwriteDemand:{year: year, month: month}}"><f:translate key="month.{month}" /> </f:link.action>
					(<f:count subject="{newsByMonth}" />)
					</li>
					
				</f:groupedFor>
				</ul>
			</div> <!-- /.acordion-inner -->
			</div> <!-- /.acordion-body -->
		</div> <!-- /.acordion-group -->
	</f:groupedFor>
</div> <!-- /.acordion -->
</f:section>


