{namespace n=Tx_News_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
{_all -> f:debug() -> f:comment()}
<f:if condition="{newsItem}">
	<f:then>
		<n:format.nothing>
			<f:if condition="{newsItem.alternativeTitle}">
				<f:then>
					<n:titleTag>
						<n:format.htmlentitiesDecode>{newsItem.alternativeTitle}</n:format.htmlentitiesDecode>
					</n:titleTag>
				</f:then>
				<f:else>
					<n:titleTag>
						<n:format.htmlentitiesDecode>{newsItem.title}</n:format.htmlentitiesDecode>
					</n:titleTag>
				</f:else>
			</f:if>
			<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
		</n:format.nothing>
		<div class="footer">
			<p>
				<f:comment>
				<!-- date -->
				<span class="label label-tuerkis-hell news-list-date pull-right">
					<f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
				</span>
				</f:comment>
				<f:if condition="{newsItem.categories}">
					<f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
				</f:if>

				<f:if condition="{newsItem.tags}">
					<!-- Tags -->
					<span class="news-list-tags">
					<f:for each="{newsItem.tags}" as="tag">
						{tag.title}
					</f:for>
					</span>
				</f:if>

				<f:if condition="{newsItem.author}">
					<!-- author -->
					<span class="news-list-author">
						<f:translate key="author" arguments="{0:newsItem.author}"></f:translate>
					</span>
				</f:if>
			</p>
		</div>
		<div class="header">
			<h2>{newsItem.title}</h2>
		</div>
		<f:if condition="{newsItem.teaser}">
			<!-- teaser -->
			<p class="lead">
				{newsItem.teaser}
			</p>
		</f:if>

		<f:if condition="{newsItem.contentElements}">
			<!-- content elements -->
			<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
		</f:if>

		<f:render partial="Detail/MediaContainer" arguments="{media: newsItem.media, settings:settings}" />

		<!-- main text -->
		<div class="news-text-wrap">
			<f:format.html>{newsItem.bodytext}</f:format.html>
		</div>
		<!-- related things -->
		<div class="news-related-wrap">

			<f:if condition="{newsItem.allRelatedSorted}">
				<!-- Related news records -->
				<div class="news-related news-related-news">
					<h4><f:translate key="related-news" /></h4>
					<hr/>
					<ul>
						<f:for each="{newsItem.allRelatedSorted}" as="related">
							<li>
								<i class="icon icon-paper-clip"></i> 
								<n:link newsItem="{related}" settings="{settings}">
									{related.title}
								</n:link>
								<span class="news-related-news-date"><f:format.date format="d.m.Y">{related.datetime}</f:format.date></span>
							</li>

						</f:for>
					</ul>
				</div>
			</f:if>

			<f:if condition="{newsItem.relatedFiles}">
				<!-- Related files -->
				<div class="news-related news-related-files">
					<h4><f:translate key="related-files" /></h4>
					<hr/>
					<ul>
						<f:for each="{newsItem.relatedFiles}" as="relatedFile">
							<li>
								<i class="icon icon-download-alt"></i> 
								<span class="news-related-files-link">
									<n:format.fileDownload file="uploads/tx_news/{relatedFile.file}" configuration="{settings.relatedFiles.download}">
										<f:if condition="{relatedFile.title}">
											<f:then>
												{relatedFile.title}
											</f:then>
											<f:else>
												{relatedFile.file}
											</f:else>
										</f:if>
									</n:format.fileDownload>
								</span>
								<span class="news-related-files-size">
									<n:format.fileSize file="uploads/tx_news/{relatedFile.file}" format="{settings.relatedFiles.fileSizeLabels}" />
								</span>
							</li>
						</f:for>
					</ul>
				</div>
			</f:if>

			<f:if condition="{newsItem.relatedLinks}">
				<!-- Related links -->
				<div class="news-related news-related-links">
					<h4><f:translate key="related-links" /></h4>
					<hr/>
					<ul>
						<f:for each="{newsItem.relatedLinks}" as="relatedLink">
							<li>
								<i class="icon icon-external-link"></i>
								<v:if.string.isNumeric value="{relatedLink.uri}">
									<f:then>
										<f:link.page pageUid="{relatedLink.uri}">{relatedLink.title}</f:link.page>
									</f:then>
									<f:else>
										<f:link.external uri="{relatedLink.uri}" target="_blank">{relatedLink.title}</f:link.external>
									</f:else>
								</v:if.string.isNumeric>
							</li>
						</f:for>
					</ul>
				</div>
			</f:if>
		</div>
		<hr/>
		<div class="row">
			<f:if condition="{settings.backPid}">
				<!-- Link Back -->
				<div class="news-backlink-wrap span2">
					<f:link.page pageUid="{settings.backPid}" class="btn btn-small">
						<i class="icon icon-chevron-left"></i> <f:translate key="back-link" />
					</f:link.page>
				</div>
			</f:if>
			<f:render partial="../../Page/PageObjects.html" section="socialshareprivacy" />
			<f:if condition="{settings.detail.showSocialShareButtons}">
				
				<div class="facebook pull-right">
					<div class="like">
						<n:social.facebook.like></n:social.facebook.like>
					</div>
					<div class="share">
						<n:social.facebook.share>Share</n:social.facebook.share>
					</div>
					<div class="twitter">
						<n:social.twitter>Twitter</n:social.twitter>
					</div>
				</div>
			</f:if>
		</div>
	</f:then>
	<f:else>

	</f:else>
</f:if>
</f:section>