{namespace n=Tx_News_ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
{news -> f:debug(title: 'news List.html') -> f:comment()}
<f:if condition="{news}">
	<f:then>
		<div class="news news-list-view media-list"> 
			<f:if condition="{settings.templateLayout} == 100">		
				<f:if condition="{settings.hidePagination}">
					<f:then>
								<f:for each="{news}" as="newsItem">
									<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}"/>									
								</f:for>
							
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
							<f:for each="{paginatedNews}" as="newsItem">
								<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}"/>
							</f:for>
						</n:widget.paginate>
					</f:else>
				</f:if>
			</f:if>
			
			<f:if condition="{settings.templateLayout} == 200">
				<f:for each="{news}" as="newsItem">
						<f:render partial="List/SmallItem" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}"/>
				</f:for>
			</f:if>
			
			<f:if condition="{settings.templateLayout} == 300">
				<f:for each="{news}" as="newsItem">
					<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}"/>
				</f:for>
				<f:if condition="{f:cObject(typoscriptObjectPath:'lib.isArchive')}">
					<!--<hr />-->
					<div class="footer" role="contentinfo">
						<f:if condition="{settings.backPid}">
							<!-- Link Back -->
							<div class="news-backlink-wrap">
								<f:link.page pageUid="{settings.backPid}" class="btn pull-left">
									<i class="icon-circle-arrow-left"></i>&nbsp;<f:translate key="back-link" />
								</f:link.page>
							</div>
						</f:if>
					</div>
				</f:if>
			</f:if>
			
			<f:if condition="{settings.templateLayout} == 400">		
				<f:if condition="{settings.hidePagination}">
					<f:then>
								<f:for each="{news}" as="newsItem">
									<f:render partial="List/BigItem" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}"/>									
								</f:for>
							
					</f:then>
					<f:else>
						<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
							<f:for each="{paginatedNews}" as="newsItem">
								<f:render partial="List/BigItem" arguments="{newsItem: newsItem, settings:settings, className:className, view:'list'}"/>
							</f:for>
						</n:widget.paginate>
					</f:else>
				</f:if>
			</f:if>
		</div>
	</f:then>
	<f:else>
		<div class="no-news-found"><f:translate key="list_nonewsfound" /></div>
	</f:else>
</f:if>
</f:section>