<f:if condition="{media}">
	<!-- media files -->
	<div class="news-img-wrap pull-right">
		<f:for each="{media}" as="mediaElement">
			<f:if condition="{mediaElement.type} == 0">
				<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}" />
			</f:if>
			<f:if condition="{mediaElement.type} == 1">
				<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}" />
			</f:if>
			<f:if condition="{mediaElement.type} == 3">
				<f:render partial="Detail/MediaDam" arguments="{mediaElement: mediaElement, settings:settings}" />
			</f:if>
		</f:for>
	</div>
</f:if>
