{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="DynamicPageTemplate" />

<!-- configuration section -->
<f:section name="Configuration">
	<flux:flexform id="DynamicPageTemplate" label="Dynamic Page Template">
		<flux:flexform.field.checkbox name="basic" label="Basic (non-responsive) row, uses CSS class 'row' instead of 'row-fluid'" />
		<flux:flexform.sheet name="grid" label="Raster">
			<flux:flexform.section name="rows" label="Rows">
				<flux:flexform.object name="row" label="Row">
					<flux:flexform.field.input name="title" />
					<flux:flexform.section name="columns" label="Columns">
						<flux:flexform.object name="column" label="Column">
							<flux:flexform.field.select name="class" label="Breite" default="span12" items="{span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten', span7: '7 von 12 Spalten', span8: '8 von 12 Spalten', span9: '9 von 12 Spalten', span10: '10 von 12 Spalten', span11: '11 von 12 Spalten', span12: '12 von 12 Spalten'}" maxItems="1" />
							<flux:flexform.field.checkbox name="addWell" label="Als Teaser anzeigen" />
							<flux:flexform.field.select name="background" label="Hintergrund" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)',}" maxItems="1" />
							<flux:flexform.field.checkbox name="roundedCorner" label="Ecke (unten rechts) rund?" />
						</flux:flexform.object>
					</flux:flexform.section>
				</flux:flexform.object>
			</flux:flexform.section>
		</flux:flexform.sheet>
		<flux:flexform.grid>
		{rows -> f:debug() -> f:comment()}

			<f:for each="{rows}" as="outerSectionObject" iteration="outerIteration">
				<flux:flexform.grid.row>
					<f:for each="{outerSectionObject.row.columns}" as="innerSectionObject" iteration="innerIteration">
						<v:var.set name="width" value="{innerSectionObject.column.class -> v:format.substring(start: 4)}" />
						{width -> f:debug() -> f:comment()}
						{colspan -> f:debug() -> f:comment()}
						<flux:flexform.grid.column colPos="{v:math.sum(a: innerIteration.cycle, fail: 1, b: 250)}" colspan="{width -> v:math.round()}" name="{outerSectionObject.row.title}, Spalte {innerIteration.cycle}" />
					</f:for>
				</flux:flexform.grid.row>
			</f:for>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<!-- Resources like js, less and css files -->
<f:section name="Resources">
	<f:render section="SharedResources" partial="PageObjects" arguments="{_all}" />
</f:section>

<f:section name="DynamicRows">
<div class="row{f:if(condition: basic, else: '-fluid')} row-{outerIteration.cycle}{f:if(condition: class, then: ' {outerSectionObject.row.class}')}">
{f:render(section: 'DynamicColumns', arguments: {record: record, innerSectionObject: innerSectionObject, innerIteration: innerIteration}) 
	-> f:for(each: outerSectionObject.row.columns, as: 'innerSectionObject', iteration: 'innerItteration')}
</div>
</f:section>

<f:section name="DynamicColumns">
<div class="{innerSectionObject.column.class}">
<f:if condition="{innerSectionObject.column.addWell}">
	<f:then>
		<div class="well{f:if(condition: '{innerSectionObject.column.background}', then: ' {innerSectionObject.column.background}')}{f:if(condition: '{innerSectionObject.column.roundedCorner}', then: ' roundedCorner')}">
			<flux:flexform.renderContent area="column{innerIteration.cycle}"/>
		</div>
	</f:then>
	<f:else>
		<flux:flexform.renderContent area="column{innerIteration.cycle}" />
	</f:else>
</f:if>
</div>
</f:section>


<!-- content stuff -->
<f:section name="MainContent">
	<v:page.content.render column="0" />
</f:section>

<f:section name="Grid">
{f:render(section: 'DynamicRows', arguments: {record: record, outerSectionObject: outerSectionObject, outerIteration: outerIteration}) 
	-> f:for(each: rows, as: 'outerSectionObject', iteration: 'outerItteration')}
</f:section>