{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="Hilfe" />

<!-- configuration section -->
<f:section name="Configuration">
<flux:flexform id="hilfe" label="Hilfe Slideshow">
	<flux:flexform.sheet name="content">
		<flux:flexform.section name="panels">
			<flux:flexform.object name="panel">
				{flux:flexform.field.input(name: 'title')}
				{flux:flexform.field.checkbox(name: 'showInMenu')}
				<flux:flexform.field.select name="background" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)'}" />
				{flux:flexform.field.file(name: 'image', allowed: 'png')}
			</flux:flexform.object>
		</flux:flexform.section>
	</flux:flexform.sheet>
	<flux:flexform.grid>
		<f:for each="{panels}" as="panel" iteration="iteration">
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="{v:math.sum(a: iteration.cycle, fail: 1, b: 150)}" name="Panel #{iteration.cycle}: {panel.panel.title}"/>
			</flux:flexform.grid.row>
		</f:for>
	</flux:flexform.grid>
</flux:flexform>
</f:section>

<f:section name="SharedPageHeadHilfe">
    {f:base() -> f:comment()}
    {v:page.header.title(title: page.title)}
    {v:page.header.meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0')}
    {f:render(section: 'Resources', arguments: '{_all}')}
    {f:render(section: 'SharedResourcesHilfe', partial: 'PageObjects', arguments: '{_all}')}
</f:section>

<!-- Resources like js, less and css files -->
<f:section name="Resources">
{v:asset.style(name: 'ptAnimations', path: '{f:uri.resource(path: "thirdparty/PageTransitions/css/animations.css", extensionName: "trotzdem_template")}', standalone: 0)}
{v:asset.style(name: 'ptComponent', path: '{f:uri.resource(path: "thirdparty/PageTransitions/css/component.css", extensionName: "trotzdem_template")}', standalone: 0)}

{v:asset.script(name: 'modernizr', path: '{f:uri.resource(path: "thirdparty/modernizr/modernizr.min.js", extensionName: "trotzdem_template")}', standalone: 0, dependencies: 'jquery', group: 'thirdParty', allowMoveToFooter: '1')}
{v:asset.script(name: 'pagetransitions', path: '{f:uri.resource(path: "thirdparty/PageTransitions/js/pagetransitions.js", extensionName: "trotzdem_template")}', standalone: 1, trim: 0, dependencies: 'modernizr', group: 'thirdParty', allowMoveToFooter: 1)}

<v:asset.script name="ptCustomJs" dependencies="jquery" allowMoveToFooter="1" trim="0" standalone="1">
	;(function($) {
		$('.bg-image').removeAttr('width').removeAttr('height');
		var color = $('.pt-page-current').data('body-class');
		$('body').addClass(color);


		// color switch for content
		$('.iterateEffects').on('click', function() {
			$('body').removeAttr('class');
			if ( !$('.pt-page-current').hasClass('pt-page-1') ) {
				color = $('.pt-page-current').next().data('body-class');
				$('body').addClass(color);
			} else {
				color = $('.pt-page-current').data('body-class');
				$('body').addClass(color);
				console.log('first is');
			}
		});

	})(jQuery);
</v:asset.script>

<v:asset.style name="pt" standalone="1">
.pt-perspective {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1200px;
	transform-style: preserve-3d;
}
 
.pt-page {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	overflow: hidden;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
}
 
.pt-page-current,
.no-js .pt-page {
	visibility: visible;
}
 
.no-js body {
	overflow: auto;
}
 
.pt-page-ontop {
	z-index: 999;
}

.container-fluid {
	padding-left: 0;
	padding-right: 0;
}

.hilfe.navbar,
.hilfe.bottom .brand,
.hilfe #iterateEffects,
.hilfe #logo,
.hilfe .meta {
	position: absolute;
	z-index: 200;
}

.hilfe #logo {
	left: 2%;
	top: 2%;	
}

.hilfe.top .meta {
	right: 2%;
	top: 2%;	
}

.hilfe.navbar {
	top: 8%;
	right: 0;
}

.hilfe.navbar .nav > li > a {
	color: white;
}

.hilfe.bottom .meta {
	right: 2%;
	bottom: 1%;
}

.hilfe.bottom .brand {
	left: 2%;
	bottom: 1%;
}

.hilfe #iterateEffects {
	bottom: 5%;
	opacity: 0.4;
}

.hilfe.bottom {
	bottom: 0;
}

.pt-inner {
	width: 70%;
	margin: 0 auto;
	padding: 10% 0 0 0;
	position: relative;
	z-index: 150;
}

.pt-page .bg-image {
	display: block;
	position: absolute;
	bottom: 0;
	z-index: 100;
}
	</v:asset.style>
</f:section>

<!-- navbar for panel navigation -->
<f:section name="PanelNavbar">
<div class="hilfe navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<span class="hidden-desktop navbar-hint">Menü</span>
			<f:comment>
			<!-- Be sure to leave the brand out there if you want it shown -->
			<f:link.page pageUid="/" class="brand visible-phone">{settings.project.name}</f:link.page>
			</f:comment>
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<f:if condition="{page.navigation.enabled == 1}">
					<nav>
						<!-- hier kommt die Navigation -->
						<ul class="nav pull-right">
							<f:for each="{panels}" as="itemSectionObject" iteration="iteration">
							<f:if condition="{itemSectionObject.panel.showInMenu}">
								<li><f:link.page pageUid="{page.uid}" section="pt-page-{iteration.cycle}">{itemSectionObject.panel.title}</f:link.page></li>
							</f:if>
						</f:for>
						</ul>
					</nav>
				</f:if>
			</div>
		</div>
	</div>
</div>
</f:section>

<!-- content stuff -->
<f:section name="MainContent">
{f:render(section: 'PanelNavbar', arguments: {panels: panels})}
<div id="pt-main" class="pt-perspective container-fluid">
	<f:for each="{panels}" as="itemSectionObject" iteration="iteration">
		<div class="pt-page pt-page-{iteration.cycle}{f:if(condition: itemSectionObject.panel.background, then: ' {itemSectionObject.panel.background}')}" {f:if(condition: itemSectionObject.panel.showInMenu, then: 'data-title="{itemSectionObject.panel.title}"')} {f:if(condition: itemSectionObject.panel.background, then: 'data-body-class="{itemSectionObject.panel.background}"')}>
			<div class="pt-inner">
				{v:page.content.render(column: '{v:math.sum(a: iteration.cycle, fail: 1, b: 150)}')}
			</div>
			{v:media.image(src: itemSectionObject.panel.image, title: itemSectionObject.panel.title, alt: itemSectionObject.panel.title, class: 'bg-image') -> f:if(condition: itemSectionObject.panel.image)}
		</div>
	</f:for>
</div>
</f:section>