{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="HilfeCarousel" />

<!-- configuration section -->
<f:section name="Configuration">
<flux:flexform id="hife_carousel" label="Hilfe Carousel Page">
	<flux:flexform.sheet name="content">
		<flux:flexform.section name="panels">
			<flux:flexform.object name="panel">
				{flux:flexform.field.input(name: 'title')}
				{flux:flexform.field.checkbox(name: 'showInMenu')}
				{flux:flexform.field.select( name: 'background', default: 'transparent', items: {transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)'})}
				{flux:flexform.field.file(name: 'image', allowed: 'png')}
				{flux:flexform.field.input(name: 'interval', default: '7500')}
			</flux:flexform.object>
		</flux:flexform.section>
	</flux:flexform.sheet>
	<flux:flexform.grid>
		<f:for each="{panels}" as="panel" iteration="iteration">
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="{v:math.sum(a: iteration.cycle, fail: 1, b: 150)}" name="Panel #{iteration.cycle}: {panel.panel.title}"/>
			</flux:flexform.grid.row>
		</f:for>
	</flux:flexform.grid>
</flux:flexform>
</f:section>

<f:section name="SharedPageHeadHilfe">
    {f:base() -> f:comment()}
    {v:page.header.title(title: page.title)}
    {v:page.header.meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0')}
    {f:render(section: 'Resources', arguments: '{_all}')}
    {f:render(section: 'SharedResourcesHilfe', partial: 'PageObjects', arguments: '{_all}')}
</f:section>

<!-- Resources like js, less and css files -->
<f:section name="Resources">

<v:asset.script name="hilfeJs" dependencies="jquery" allowMoveToFooter="1" trim="0" standalone="1">
;(function($) {
	// adaptive images
	$('.bg-image').removeAttr('width').removeAttr('height');

	// init carousel with some default settings
	<f:format.raw>$('#hilfeCarousel').carousel({</f:format.raw>
		interval: 20000,
		pause: 'hover'
	<f:format.raw>});</f:format.raw>

	// set body class according to current slide color
	var color = $('#hilfeCarousel .item.active').data('body-class');
	$('body').addClass(color);

	$('#hilfeCarousel').on('slide.bs.carousel', function(data) {
		var color = $(data.relatedTarget).data('body-class');
		$('body').removeAttr('class');
		$('body').addClass(color);
		$('.gme-map').trigger('resize');
	//	google.maps.event.trigger(gme, 'resize');
	});

	//Replace all SVG images with inline SVG
	jQuery('img.svg').each(function(){
		var $img = jQuery(this);
		var imgID = $img.attr('id');
		var imgClass = $img.attr('class');
		var imgURL = $img.attr('src');

		jQuery.get(imgURL, function(data) {
			// Get the SVG tag, ignore the rest
			var $svg = jQuery(data).find('svg');

			// Add replaced image's ID to the new SVG
			if(typeof imgID !== 'undefined') {
				$svg = $svg.attr('id', imgID);
			}
			// Add replaced image's classes to the new SVG
			if(typeof imgClass !== 'undefined') {
				$svg = $svg.attr('class', imgClass+' replaced-svg');
			}

			// Remove any invalid XML tags as per http://validator.w3.org
			$svg = $svg.removeAttr('xmlns:a');

			// Replace image with new SVG
			$img.replaceWith($svg);

		}, 'xml');
	});

	console.log(slide.bs.carousel);
/*
	$('.gme-map').toggle({
		complete:function (){
			google.maps.event.trigger(map, 'resize');
		},
		duration:'slow'
	});
*/
})(jQuery);
</v:asset.script>

<v:asset.style name="hilfeStyles" standalone="1">
html, body {
	width: 100%;
	height: 100%;
	padding: 0;
}

@media ( max-width: 767px) {
	html, body {
		padding: 0;
	}
}

#hilfe .navbar .nav > li > a {
/*	color: white; */
}
</v:asset.style>

</f:section>

<!-- navbar for panel navigation -->
<f:section name="PanelNavbar">
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<span class="hidden-desktop navbar-hint">Menü</span>
			<f:comment>
			<!-- Be sure to leave the brand out there if you want it shown -->
			<f:link.page pageUid="/" class="brand visible-phone">{settings.project.name}</f:link.page>
			</f:comment>
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<f:if condition="{page.navigation.enabled == 1}">
					<nav>
						<!-- hier kommt die Navigation -->
						<ul class="nav pull-right">
							<f:for each="{panels}" as="itemSectionObject" iteration="iteration">
							<f:if condition="{itemSectionObject.panel.showInMenu}">
								<li data-target="#hilfeCarousel" data-slide-to="{iteration.index}"><a href="#">{itemSectionObject.panel.title}</a></li>
							</f:if>
						</f:for>
						</ul>
					</nav>
				</f:if>
			</div>
		</div>
	</div>
</div>
</f:section>

<!-- content stuff -->
<f:section name="MainContent">
<div id="hilfeCarousel" class="carousel slide carousel-fade">
	<!-- Carousel items -->
	<div class="carousel-inner">
		<f:for each="{panels}" as="itemSectionObject" iteration="iteration">
			<div class="item{f:if(condition: '{iteration.cycle} == 1', then: ' active')}{f:if(condition: itemSectionObject.panel.background, then: ' {itemSectionObject.panel.background}')}" {f:if(condition: itemSectionObject.panel.showInMenu, then: 'data-title="{itemSectionObject.panel.title}"')} {f:if(condition: itemSectionObject.panel.background, then: 'data-body-class="{itemSectionObject.panel.background}"')}>
				<div class="item-content">
					<!-- {f:if(condition: '{itemSectionObject.panel.interval} !== 7500', then: '{itemSectionObject.panel.interval}')} -->
					{v:page.content.render(column: '{v:math.sum(a: iteration.cycle, fail: 1, b: 150)}')}
				</div>
				{v:media.image(src: itemSectionObject.panel.image, title: itemSectionObject.panel.title, alt: itemSectionObject.panel.title, class: 'bg-image') -> f:if(condition: itemSectionObject.panel.image)}
			</div>
		</f:for>
	</div>
	
	<!-- Carousel nav -->
	<a class="carousel-control left" href="#hilfeCarousel" data-slide="prev"><i class="icon-angle-left"></i></a>
	<a class="carousel-control right" href="#hilfeCarousel" data-slide="next"><i class="icon-angle-right"></i></a>
	
	<!-- Carousel indicators -->
	<ol class="carousel-indicators">
		<f:for each="{panels}" as="navItemSectionObject" iteration="iteration">
			<li data-target="#hilfeCarousel" data-slide-to="{iteration.index}" class="{f:if(condition: '{iteration.cycle} == 1', then: 'active')}"></li>
		</f:for>
	</ol>
</div>
</f:section>