{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="Test" />

<!-- configuration section -->
<f:section name="Configuration">
<flux:flexform id="test" label="test">
	<flux:flexform.sheet name="content">
		<flux:flexform.section name="panels">
			<flux:flexform.object name="panel">
				{flux:flexform.field.input(name: 'title')}
				{flux:flexform.field.checkbox(name: 'showInMenu')}
				<flux:flexform.field.select name="background" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)'}" />
				{flux:flexform.field.file(name: 'image', allowed: 'png')}
			</flux:flexform.object>
		</flux:flexform.section>
	</flux:flexform.sheet>
	<flux:flexform.grid>
		<f:for each="{panels}" as="panel" iteration="iteration">
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="{v:math.sum(a: iteration.cycle, fail: 1, b: 150)}" name="Panel #{iteration.cycle}: {panel.panel.title}"/>
			</flux:flexform.grid.row>
		</f:for>
	</flux:flexform.grid>
</flux:flexform>
</f:section>