{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
{namespace less=Tx_CsLess_ViewHelpers}

<f:layout name="VereinSubpage" />

<!-- configuration section -->
<f:section name="Configuration">
	<flux:flexform id="SubpageLayout" label="Verein: Unterseite">
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="0" colspan="8" name="Hauptinhalt" />
				<flux:flexform.grid.column colPos="3" colspan="12" name="Teaser" />
			</flux:flexform.grid.row>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column colPos="4" colspan="12" name="Footer" />
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<!-- Resources like js, less and css files -->
<f:section name="Resources">
	<f:render section="SharedResources" partial="PageObjects" arguments="{_all}" />
</f:section>


<!-- content stuff -->
<f:section name="MainContent">
	<v:page.content.render column="0" />
</f:section>
