@font-face {
	font-family: 'MisoLight';
	src: url('../fonts/miso-light-webfont.eot');
	src: url('../fonts/miso-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/miso-light-webfont.woff') format('woff'),
		url('../fonts/miso-light-webfont.ttf') format('truetype'),
		url('../fonts/miso-light-webfont.svg#MisoLight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MisoRegular';
	src: url('../fonts/miso-regular-webfont.eot');
	src: url('../fonts/miso-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/miso-regular-webfont.woff') format('woff'),
		url('../fonts/miso-regular-webfont.ttf') format('truetype'),
		url('../fonts/miso-regular-webfont.svg#MisoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MisoBold';
	src: url('../fonts/miso-bold-webfont.eot');
	src: url('../fonts/miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/miso-bold-webfont.woff') format('woff'),
		url('../fonts/miso-bold-webfont.ttf') format('truetype'),
		url('../fonts/miso-bold-webfont.svg#MisoBold') format('svg');
	font-weight: normal;
	font-style: normal;
}