//
// Responsive: up to landscape on phones
// --------------------------------------------------

@media only screen and (max-width: 480px) {
	// Smooth out the collapsing/expanding nav
	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0); // activate the GPU
	}

	.page-header,
	.page-header h1 {
		margin: 0;
	}

	// Block level the page header small tag for readability
	.page-header h1 small {
		display: inline;
		line-height: @baseLineHeight;
	}

	// Update checkboxes for iOS
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}

	// Remove the horizontal form styles
	.form-horizontal {
		.control-label {
			float: none;
			width: auto;
			padding-top: 0;
			text-align: left;
		}
		// Move over all input controls and content
		.controls {
			margin-left: 0;
		}
		// Move the options list down to align with labels
		.control-list {
			padding-top: 0; // has to be padding because margin collaspes
		}
		// Move over buttons in .form-actions to align with .controls
		.form-actions {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	// Medias
	// Reset float and spacing to stack
	.media .pull-left,
	.media .pull-right  {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
	// Remove side margins since we stack instead of indent
	.media-object {
		margin-right: 0;
		margin-left: 0;
	}

	// Modals
	.modal {
		top:   10px;
		left:  10px;
		right: 10px;
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px;
	}

	// Carousel
	.carousel-caption {
		position: static;
	}

	.kontakt-box {
		.map {
			height: 110px;
		}

		.phone {
			font-size: 33px;
		}
	}

	.home .main .content .row,
	.teaser-area .row,
	.thumbnails {
		margin-left: -3%;

		.span3 {
			.makeColumn(3);
			width: 97%;
			margin-left: 3%;
		}

		.span6 {
			.makeColumn(6);
			width: 97%;
			margin-left: 3%;
		}
	}

	.main .sidebar {
		margin-top: @baseLineHeight * 2;

		.inner {
			.clearfix();
			.makeRow();
			margin-left: -3%;
		}

		.inner > .csc-default {
			float: left;
			width: 97%;
			margin-left: 3%;
			margin-top: 0;
		}
	}
}

@media only screen and (max-width: 320px) {
	.page-header,
	.page-header h1 {
		margin: 0;
	}
	// Block level the page header small tag for readability
	.page-header h1 small {
		display: block;
		margin-top: @baseLineHeight;
		padding-left: @baseLineHeight * 2.5;
	}
}