//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 767px) {

  // Padding to set content in a bit
  body {
    padding-left: 20px;
    padding-right: 20px;
  }

  .service .span6 {
    text-align: center;
  }

  // Negative indent the now static "fixed" navbar
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: -20px;
    margin-right: -20px;
  }
  // Remove padding on container given explicit padding set on body
  .container-fluid {
    padding: 0;
  }

  // TYPOGRAPHY
  // ----------
  // Reset horizontal dl
  .dl-horizontal {
    dt {
      float: none;
      clear: none;
      width: auto;
      text-align: left;
    }
    dd {
      margin-left: 0;
    }
  }

  // GRID & CONTAINERS
  // -----------------
  // Remove width from containers
  .container {
    width: auto;
  }
  // Fluid rows
  .row-fluid {
    width: 100%;
  }
  // Undo negative margin on rows and thumbnails
  .row,
  .thumbnails {
    margin-left: 0;
  }
  .thumbnails > li {
    float: none;
    margin-left: 0; // Reset the default margin for all li elements when no .span* classes are present
  }
  // Make all grid-sized elements block level again
  [class*="span"],
  .uneditable-input[class*="span"], // Makes uneditable inputs full-width when using grid sizing
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    .box-sizing(border-box);
  }
  .span12,
  .row-fluid .span12 {
    width: 100%;
    .box-sizing(border-box);
  }
  .row-fluid [class*="offset"]:first-child {
		margin-left: 0;
	}

  .kontakt-box {
    .map {
      height:110px;
    }

    .phone {
      font-size: 33px;
    }

    .icons {
      .icon {
        font-size: @fontSizeLarge * 1.5;
      }
    }
  }

  .home .main .content .row,
  .teaser-area .row,
  .thumbnails,
  .accordion .row,
  .sidebar .row {
    .makeRow();
    margin-left: -3%;
    
    
    .span3 {
      .makeColumn(3);
      width: 47%;
      margin-left: 3%;
    }
    .span6 {
      .makeColumn(6);
      width: 97%;
      margin-left: 3%;
    }
  }
  .content .accordion .row-fluid .span6,
  .accordion .row .span4 {
      .makeColumn(3);
      width: 47%;
      margin-left: 3%;
  }
  .row-fluid .span3,
  .content .span12 .span6 {
    .makeColumn(3);
    width: 47%;
    margin-left: 3%;
  }
  .row-fluid .span3:nth-child(3) {
    margin-left: 0;
  }
  .main .sidebar {
    margin-top: @baseLineHeight * 2;

    .inner {
      .clearfix();
      .makeRow();
       margin-left: -3%;
    }

    .inner > .csc-default {
      float: left;
      width: 47%;
      margin-left: 3%;
      margin-top: 0;
    }
  }
  
  // FORM FIELDS
  // -----------
  // Make span* classes full width
  .input-large,
  .input-xlarge,
  .input-xxlarge,
  input[class*="span"],
  select[class*="span"],
  textarea[class*="span"],
  .uneditable-input {
    .input-block-level();
  }
  // But don't let it screw up prepend/append inputs
  .input-prepend input,
  .input-append input,
  .input-prepend input[class*="span"],
  .input-append input[class*="span"] {
    display: inline-block; // redeclare so they don't wrap to new lines
    width: auto;
  }
  .controls-row [class*="span"] + [class*="span"] {
    margin-left: 0;
  }

  // Modals
  .modal {
    position: fixed;
    top:   20px;
    left:  20px;
    right: 20px;
    width: auto;
    margin: 0;
    &.fade  { top: -100px; }
    &.fade.in { top: 20px; }
  }

}
