//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {

	// Fixed grid
	#grid > .core(@gridColumnWidth768, @gridGutterWidth768);

	// Fluid grid
	#grid > .fluid(@fluidGridColumnWidth768, @fluidGridGutterWidth768);

	// Input grid
	#grid > .input(@gridColumnWidth768, @gridGutterWidth768);

	// No need to reset .thumbnails here since it's the same @gridGutterWidth

	.row-fluid .span3 {
		.makeColumn(3);
		width: 22.9%;
		margin-left: 2.1%;
	}

	.content .accordion .row-fluid .span6,
	.content .span12 .span6 {
		.makeColumn(3);
		width: 47%;
		margin-left: 3%;
	}
}
