/*!
 * Bootstrap v2.2.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

// CSS Reset
@import "reset.less";

// Core variables and mixins
@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";

// MISO font by Marten Nettelbladt
@import "font-miso.less";

// Grid system and page structure
@import "scaffolding.less";
@import "grid.less";
@import "layouts.less";

// Base CSS
@import "type.less";
@import "code.less";
@import "forms.less";
@import "tables.less";

// Components: common
//@import "sprites.less";
@import "elusive-webfont.less";
@import "dropdowns.less";
@import "wells.less";
@import "component-animations.less";
@import "close.less";

// Components: Buttons & Alerts
@import "buttons.less";
@import "button-groups.less";
@import "alerts.less"; // Note: alerts share common CSS with buttons and thus have styles in buttons.less

// Components: Nav
@import "navs.less";
@import "navbar.less";
@import "breadcrumbs.less";
@import "pagination.less";
@import "pager.less";

// Components: Popovers
@import "modals.less";
@import "tooltip.less";
@import "popovers.less";

// Components: Misc
@import "thumbnails.less";
@import "media.less";
@import "labels-badges.less";
@import "progress-bars.less";
@import "accordion.less";
@import "carousel.less";
@import "hero-unit.less";

// Utility classes
@import "utilities.less"; // Has to be last to override when necessary


ul li,
ol li {
	margin-bottom: (@baseLineHeight / 2) - 5;
}

ul.csc-uploads span.csc-uploads-fileName,
a:link, a:visited {
	text-decoration: none;
}

a:hover, a:active {
	color: @tevPetrol;
}

blockquote {
	font-family: @altFontFamily;
	color: @tevRot;
	margin: @baseLineHeight @baseLineHeight * 4  @baseLineHeight @baseLineHeight;
	border: 0;
	padding: 0;
}

.span3 blockquote,
.span4 blockquote {
	margin: @baseLineHeight;
}

blockquote cite {
	font-family: @baseFontFamily;
	color: @gray;
	display: inline-block;
	font-size: @fontSizeSmall;
	text-align: left;
	padding: 0 @baseLineHeight / 4;
}

.btn {
	.border-radius(15px);
	letter-spacing: 0.1px;
	font-family: @regularMiso;
}

.btn .icon {
	vertical-align: middle;
	font-size: 90%;
}

.navbar {
	font-family: @altFontFamily;
	text-transform: uppercase;
}

.navbar-inner {
	background: transparent;
	border: 0;
	box-shadow: none;
	padding: 0;
	filter:-;
}

.navbar .nav > li > a {
	text-shadow: 0 0 0 darken(@grayLight, 5%);
	font-size: 23px;
}

.navbar .nav-collapse li {
	margin-bottom: 0;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
	background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
	color: @navbarLinkColorHover;
	text-decoration: none;
	text-shadow: 1px 1px 9px darken(@tevGelb, 5%);
}

// Active nav items
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
	background-color: transparent;
	color: @tevRotHell;
	.box-shadow( 0 0 0 rgba(0,0,0,.125));
	text-shadow: 1px 1px 9px darken(@tevGelb, 5%);
}

.service {
	margin-top: @baseLineHeight / 2;
}

.service #logo {
	margin-top: 8px;
	display: inline-block;
}

.meta {
	position: absolute;
	right: 0;
	bottom: 0;
}

.meta,
.meta .nav > li > a {
	font-family: @altFontFamily;
	color: @gray;
}

.meta.btn-group .btn {
	letter-spacing: 1px;
	.border-radius(15px);
}

.meta .nav {
	margin-bottom: 0;
}

.btn.btn-navbar {
	.border-radius(4px);
}

.meta .nav-pills > li > a {
	padding: 2px 9px 4px 9px;
	.border-radius(15px);
}

.meta .dropdown-menu .active a,
.meta .nav-pills > .active > a,
.nav-pills > .active > a:hover {
	color: white;
	background-color: @tevRot;
}

.nav > li > a:hover {
	color: darken(@white, 8%);
	background-color: @tevRot;
}

.icon {
	color: @grayLight;
}

.icon.icon-caret-up {
	font-size: 10px;
	position: relative;
	top: -1px;
}
.icon.icon-caret-down {
	font-size: 10px;
}

.hilfe.navbar,
.row-fluid .meta.pull-right {
	margin-right: 3%;
}

.hilfe #logo {
	margin-left: 3%;
}

.hilfe .row-fluid.main .content {
	margin: 0 3%;
}

// Base class
.well {
	min-height: 20px;
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid darken(@white, 7%);
	border: 0 solid darken(@white, 7%);
	.border-radius(@baseBorderRadius);
	.box-shadow( 0 0 0 rgba(0,0,0,.3));
	blockquote {
		border-color: #ddd;
		border-color: rgba(0,0,0,.15);
	}

	.csc-firstHeader {
		margin-top: 0;
	}
	position: relative;
}

.label,
.silber {
	#gradient > .vertical(@grayLighter, darken(@grayLighter, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));
	color: @gray;
	.icon {
		color: darken(@grayLighter, 15%);
		text-shadow: 0 2px 3px @grayLighter;
	}

	&.accordion-group {
		border-color: darken(@grayLighter, 10%);

		.accordion-inner {
			border-color: darken(@grayLighter, 10%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@grayLighter, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@grayLighter, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@grayLighter, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(@tevRotHell, darken(@tevRotHell, 5%));
    .icon {
      color: darken(@tevRotHell, 15%);
      text-shadow: 0 2px 3px lighten(@tevRotHell, 10%);
    }
  }
}

// #ECE7BD
.label-gelb,
.gelb {
	#gradient > .vertical(@tevGelb, darken(@tevGelb, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));
	
	color: @gray;

	.icon {
		color: darken(@tevGelb, 15%);
		text-shadow: 0 2px 3px @tevGelb;
	}

	&.accordion-group {
		border-color: darken(@tevGelb, 10%);

		.accordion-inner {
			border-color: darken(@tevGelb, 10%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevGelb, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevGelb, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevGelb, 10%);
		}
	}
	
	a.btn-default {
		.buttonBackground(@tevRotHell, darken(@tevRotHell, 5%));
		.icon {
			color: darken(@tevRotHell, 15%);
			text-shadow: 0 2px 3px lighten(@tevRotHell, 10%);
		}
	}
}

// #70884F
.label-gruen,
.gruen {
	#gradient > .vertical(@tevGruen, darken(@tevGruen, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@white, 15%);

	.icon {
		color: darken(@tevGruen, 15%);
		text-shadow: 0 2px 3px @tevGruen;
	}

	a:link, a:visited {
		color: darken(@tevGelb, 30%);
	}
	
	.meta .nav > li > a:hover,
	.meta .nav > li > a:active,
	a:hover, a:active {
		color: darken(@tevPetrol, 5%);
	}

	&.accordion-group {
		border-color: lighten(@tevGruen, 5%);

		.accordion-inner {
			border-color: lighten(@tevGruen, 5%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevGruen, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevGruen, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevGruen, 10%);
		}
	}
	
	a.btn-default {
    .buttonBackground(darken(@tevGelb, 30%), darken(@tevGelb, 35%));
    .icon {
      color: darken(@tevGelb, 45%);
      text-shadow: 0 2px 3px darken(@tevGelb, 20%);
    }
  }
}

// #335E6B
.label-petrol,
.petrol {
	#gradient > .vertical(@tevPetrol, darken(@tevPetrol, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@white, 15%);

	.icon {
		color: darken(@tevPetrol, 15%);
		text-shadow: 0 2px 3px @tevPetrol;
	}

	a:link, a:visited {
		color: darken(@tevTuerkisHell, 10%);
	}
	.meta .nav > li > a:hover,
	.meta .nav > li > a:active,
	a:hover, a:active {
		color: darken(@tevGelb, 30%);
	}

	&.accordion-group {
		border-color: lighten(@tevPetrol, 5%);

		.accordion-inner {
			border-color: lighten(@tevPetrol, 5%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevPetrol, 30%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevPetrol, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevPetrol, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(darken(@tevTuerkisHell, 10%), darken(@tevTuerkisHell, 15%));
    .icon {
      color: darken(@tevTuerkisHell, 25%);
      text-shadow: 0 2px 3px @tevTuerkisHell;
    }
  }
}

// #4D4B5D
.label-pflaume,
.pflaume {
	#gradient > .vertical(@tevPflaume, darken(@tevPflaume, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@white, 20%);

	.icon {
		color: darken(@tevPflaume, 15%);
		text-shadow: 0 2px 3px @tevPflaume;
	}

	a:link, a:visited {
		color: darken(@tevGelb, 30%);
	}
	
	.meta .nav > li > a:hover,
	.meta .nav > li > a:active,
	a:hover, a:active {
		color: darken(@tevTuerkisHell, 10%);
	}

	&.accordion-group {
		border-color: lighten(@tevPflaume, 10%);

		.accordion-inner {
			border-color: lighten(@tevPflaume, 10%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevPflaume, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevPflaume, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevPflaume, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(darken(@tevGelb, 30%), darken(@tevGelb, 35%));
    .icon {
      color: darken(@tevGelb, 45%);
      text-shadow: 0 2px 3px darken(@tevGelb, 20%);
    }
  }
}

// #D73317
.label-rot,
.rot {
	#gradient > .vertical(@tevRot, darken(@tevRot, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@white, 8%);

	.icon {
		color: darken(@tevRot, 15%);
		text-shadow: 0 2px 3px @tevRot;
		/*
		-webkit-filter: drop-shadow(0 2px 3px @tevRot);
		-moz-filter: drop-shadow(0 2px 3px @tevRot);
		-ms-filter: drop-shadow(0 2px 3px @tevRot);
		-o-filter: drop-shadow(0 2px 3px @tevRot);
		filter: drop-shadow(0 2px 3px @tevRot);
		*/
	}
	
	a:link, a:visited {
		color: darken(@tevGelb, 30%);
	}
	
	.meta .nav > li > a:link,
	.meta .nav > li > a:visited {
		color: darken(@white, 8%);
	}

	a:hover, a:active {
		color: darken(@white, 10%);
	}

	.meta .nav > li > a:hover,
	.meta .nav > li > a:active {
		color: @tevRot;
		background: darken(@white, 8%); 
	}

	&.accordion-group {
		border-color: darken(@tevRot, 8%);

		.accordion-inner {
			border-color: darken(@tevRot, 8%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevRot, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevRot, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevRot, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(darken(@tevGelb, 30%), darken(@tevGelb, 35%));
    .icon {
      color: darken(@tevGelb, 45%);
      text-shadow: 0 2px 3px darken(@tevGelb, 20%);
    }
  }
}

// #DB4622
.label-rot-hell,
.rot-hell {
	#gradient > .vertical(@tevRotHell, darken(@tevRotHell, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@white, 8%);

	.icon {
		color: darken(@tevRotHell, 15%);
		text-shadow: 0 2px 3px @tevRotHell;
	}
	
	.meta .nav > li > a:link,
	.meta .nav > li > a:visited {
		color: darken(@white, 8%);
	}

	a:link, a:visited {
		color: darken(@tevGelb, 30%);
	}

	.meta .nav > li > a:hover,
	.meta .nav > li > a:active {
		color: @tevRotHell;
		background: darken(@white, 8%); 
	}

	a:hover, a:active {
		color: lighten(@tevPetrol, 39%);
	}

	&.accordion-group {
		border-color: darken(@tevRotHell, 8%);

		.accordion-inner {
			border-color: darken(@tevRotHell, 8%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevRotHell, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevRotHell, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevRotHell, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(darken(@tevGelb, 30%), darken(@tevGelb, 35%));
    .icon {
      color: darken(@tevGelb, 45%);
      text-shadow: 0 2px 3px darken(@tevGelb, 20%);
    }
  }
}

// #BD4B51
.label-rot-matt,
.rot-matt {
	#gradient > .vertical(@tevRotMatt, darken(@tevRotMatt, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@white, 8%);

	.icon {
		color: darken(@tevRotMatt, 15%);
		text-shadow: 0 2px 3px @tevRotMatt;
	}

	.meta .nav > li > a,
	a:link, a:visited {
		color: lighten(@tevPetrol, 39%);
	}
	
	.meta .nav > li > a:hover,
	.meta .nav > li > a:active {
		color: darken(@white, 10%);;
	}

	a:hover, a:active {
		color: darken(@tevGelb, 30%);
	}

	&.accordion-group {
		border-color: darken(@tevRotMatt, 8%);

		.accordion-inner {
			border-color: darken(@tevRotMatt, 8%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevRotMatt, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevRotMatt, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevRotMatt, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(lighten(@tevPetrol, 30%), lighten(@tevPetrol, 25%));
    .icon {
      color: lighten(@tevPetrol, 15%);
      text-shadow: 0 2px 3px lighten(@tevPetrol, 40%);
    }
  }
}

// #65BDB5
.label-tuerkis,
.tuerkis {
	#gradient > .vertical(@tevTuerkis, darken(@tevTuerkis, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@tevPetrol, 8%);

	.icon {
		color: darken(@tevTuerkis, 15%);
		text-shadow: 0 2px 3px @tevTuerkis;
	}
	
	.meta .nav > li > a,
	a:link, a:visited {
		color: darken(@grayLighter, 0%);
	}

	a:hover, a:active {
		color: darken(@tevGelb, 5%);
	}

	.meta .nav > li > a:hover,
	.meta .nav > li > a:active {
		color: @gray;
		background: darken(@tevTuerkisHell, 8%); 
	}

	&.accordion-group {
		border-color: lighten(@tevTuerkis, 8%);

		.accordion-inner {
			border-color: lighten(@tevTuerkis, 8%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevTuerkis, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevTuerkis, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevTuerkis, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(darken(@grayLighter, 0%), darken(@grayLighter, 5%));
    .icon {
      color: darken(@grayLighter, 15%);
      text-shadow: 0 2px 3px lighten(@grayLighter, 10%);
    }
    &:link, &:visited, &:hover, &:active {
      color: @gray;
    }
  }
}

// #B6DEE1
.label-tuerkis-hell,
.tuerkis-hell {
	#gradient > .vertical(@tevTuerkisHell, darken(@tevTuerkisHell, 6%));
	.box-shadow( 0 0 4px rgba(0,0,0,.3));

	color: darken(@tevPetrol, 8%);

	.icon {
		color: darken(@tevTuerkisHell, 15%);
		text-shadow: 0 2px 3px @tevTuerkisHell;
	}

	.meta .nav > li > a,
	a:link, a:visited {
		color: lighten(@tevRotMatt, 0%);
	}
	
	.meta .nav > li > a:hover,
	.meta .nav > li > a:active {
		color: darken(@white, 10%);;
	}

	a:hover, a:active {
		color: darken(@tevPflaume, 0%);
	}

	&.accordion-group {
		border-color: darken(@tevTuerkisHell, 10%);

		.accordion-inner {
			border-color: darken(@tevTuerkisHell, 10%);
		}
	}
/*
	.img-polaroid {
		background-color: lighten(@tevTuerkisHell, 20%);
	}
*/
	&.kontakt-box {
		.title {
			border-bottom: 1px solid darken(@tevTuerkisHell, 10%);
		}

		.phone {
			border-top: 1px solid lighten(@tevTuerkisHell, 10%);
		}
	}
	a.btn-default {
    .buttonBackground(lighten(@tevRotMatt, 0%), darken(@tevRotMatt, 5%));
    .icon {
      color: darken(@tevRotMatt, 15%);
      text-shadow: 0 2px 3px lighten(@tevRotMatt, 10%);
    }
  }
}

.label {
	box-shadow: none;
	text-shadow: none;
}

.icon {
	font-size: @baseFontSize * 1.3;
}

.roundedCorner {
	.border-bottom-right-radius(35px);
}

hr {
	border-top: 1px solid darken(@grayLighter, 8%);
	border-bottom: 1px solid @white;
}

.accordion-group {
	background-color: darken(@white, 2%);
}

.accordion-heading {
	font-family: @altFontFamily;
	font-size: 18px;
}

.accordion-heading .icon {
	font-size: 70%;
	color: darken(@grayLighter, 15%);
}

.brand {
	font-family: @altFontFamily;
	padding-left: @baseLineHeight / 2;
}

.slider .carousel {
	height: 300px;
	overflow: hidden;
	.well();
	.box-shadow( 0 0 4px rgba(0,0,0,.3));
	padding: 0;
}

.carousel-control {
	top: 50%;
}

.slider .carousel.carousel-fade .item {
	opacity: 0;
}

.slider .carousel.carousel-fade .active.item {
	opacity: 1;
}

// Pills for indicating active image
// ---------------------------------

.carousel-pills {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 10px;
  display: block;
  text-align: right;
}

.carousel-pills span {
  display: inline-block;
  margin: 0px 5px;
  width: 10px;
  height: 10px;
  .border-radius(15px);
  background: @grayDark;
  @shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  .box-shadow(@shadow);
  cursor: pointer;

  &.active-pill {
    #gradient > .vertical(@white, @grayLighter);
  }

  &:hover {
    background: @grayLighter;
  }
}

.carousel.jcarousel .item {
    width: 20000em;
}

figure {
	margin: 0;
}

.page-header {
	position: relative;
}

.service .page-header:before {
	content: "\2022";
	position: absolute;
	left: 5.7em;
	top: 1.4em;
	font-size: 160%;
}

.kontakt-box {
	.border-radius(@baseBorderRadius);
	padding: 2px 8px;
	position: relative;
	margin-bottom: @baseLineHeight;

	.title {
		font-size: 16px;
		line-height: 100%;
		padding: 0 9px 7px 9px;
		margin-bottom: 0;
	}

	.phone {
		font-style: normal;
		font-size: 33px;
		font-family: @altFontFamily;
		text-align: center;
		padding: @baseLineHeight - 6 0 @baseLineHeight / 2 0;
	}

	.map {
//		margin-left: @baseLineHeight / 2;
//		margin-bottom: 10px;
		border: 1px solid darken(@white,8%);
		width: 198px;
		height: 110px;
		width: 100%;
		overflow: hidden;
		margin-bottom: @baseLineHeight / 2;

		.inner {
			width: 100%;
			height: 100%;
		}
	}

	address {
		font-size: 12px;
		line-height: 130%;
	}
	address:first-line {
		font-family: @altFontFamily;
		font-size: @fontSizeLarge;
		line-height: @baseLineHeight;
	}

	.icons {
		position: absolute;
		bottom: @baseLineHeight / 2;
		right: @baseLineHeight / 2;
		
		.icon {
			font-size: @fontSizeLarge * 1.5;
		}
	}
}

.feature .kontakt-box {
	margin-bottom: @baseLineHeight / 2;
}

.csc-uploads {
	list-style: none;
	margin-left: 0;
}

.csc-uploads .icon-file-alt {
	margin: 2px 4px (@baseLineHeight / 2) 0 ;
}


.content .csc-uploads {
	margin-top: @baseLineHeight;
}

.csc-textpic-imagewrap {
	margin-bottom: @baseLineHeight / 2;
}

.csc-textpic-intext-left-nowrap .csc-textpic-text {
	margin-left: 0;
}

.csc-textpic .img-rounded,
.csc-textpic .img-rounded img {
	.border-radius(@baseBorderRadius / 2);
}

.csc-textpic .img-polaroid {
	padding: 2px;
}

.csc-textpic-imagerow {
	.clearfix();
}

.csc-textpic-imagecolumn {
	float: left;
	margin-left: @baseLineHeight / 2;
	margin-bottom: @baseLineHeight / 2;
}

.csc-textpic-imagecolumn.csc-textpic-firstcol {
	margin-left: 0;
}

.thumbnails .bodytext {
	padding: 0 @baseLineHeight / 4;
	margin-bottom: 0;
	font-size: @fontSizeSmall;
}

.feature .slider-wrapper {
	position: relative;
}

.theme-light .nivoSlider {
	.box-shadow(0 0 4px rgba(0,0,0,0.3));
	.border-radius(@baseBorderRadius);
}

.nivoSlider img {
	.border-radius(@baseBorderRadius);
}

.feature .theme-light.slider-wrapper,
.content .theme-light.slider-wrapper,
.sidebar .theme-light.slider-wrapper {
	background-color: transparent;
	padding: 0;
}

.feature .theme-light .nivoSlider .nivo-directionNav {

}

.feature .theme-light .nivo-controlNav {
	position: absolute;
	top: @baseLineHeight / 4;
	right: @baseLineHeight / 2;
}

/* Force hiding NivoSlider captions */
.feature .nivo-caption {
	display: none !important;
}
.sidebar .nivo-caption {
/*	display: none !important; */
	background-color: @tevRot !important;
	font-family: @altFontFamily !important;
	font-size: @fontSizeLarge !important;
	text-align: center;
	padding: @baseLineHeight / 2 !important;
	margin-bottom: @baseLineHeight / 2;
}

.csstransitions .Tx-Formhandler .control-group.error .alert,
.Tx-Formhandler .control-group .alert {
	display: none;
}

.Tx-Formhandler .control-group.error .alert {
	display: block;
}

.Tx-Formhandler .btn {
  .buttonBackground(@tevRotHell, darken(@tevRotHell, 5%));
}

.collapse {
	position: static;
}

.tooltip.in {
	.opacity(100);
}

.tooltip-inner {
	max-width: 300px;
	line-height: @baseLineHeight * .85;
	font-family: @baseFontFamily;
	text-align: left;
}

.csc-uploads .media {
	margin-top: @baseLineHeight / 4;
}

.csc-uploads-element-pdf {
//	padding-left: @baseLineHeight;
}

.media img {
	.border-radius(2px);
}

.contact-person .media-heading {
	margin-bottom: 0;
}

.contact-person em {
	display: block;
	font-size: @fontSizeSmall;
	margin-bottom: @baseLineHeight / 4;
}

.news-list-date {
	margin-top: @baseLineHeight - 5;
}

.news-img-wrap {
	margin-left: @baseLineHeight;
	margin-bottom: @baseLineHeight / 2;
}

.news-img-wrap img {
	.border-radius(4px);
}

.news-related,
.news-text-wrap {
	margin-bottom: @baseLineHeight;
}

.news-related-wrap hr {
	margin-top: 0;
	margin-bottom: @baseLineHeight / 4;
}

.news-related-wrap ul {
	padding: 0;
	margin: 0 @baseLineHeight / 2 @baseLineHeight @baseLineHeight / 2;
}

.news-related-wrap li {
	list-style: none;
}

.news-related-wrap li i {
	vertical-align: middle;
}

.social_share_privacy_area {
	margin: 0 !important;
}

.lead {
	font-family: @altFontFamily;
	font-size: @fontSizeLarge;
	margin-bottom: @baseLineHeight / 2;
}

/*
.csc-frame-rulerAfter {
	border-bottom: 1px solid #fff;
}

.csc-frame-rulerAfter header {
	border-bottom: 1px solid #dadada;
}
*/

.tx-kv-glossar hr {
	margin-top: 0;
}
.tx-kv-glossar h3 {
	margin-bottom: 0;
	text-align: center;
	margin-top: @baseLineHeight * 2;
	padding-left: @baseLineHeight / 4;
}

.tx-kv-glossar h3.first {
	margin-top: 0;
	padding-left: @baseLineHeight / 4;
}

.tx-kv-glossar .pagination {
	margin-top: @baseLineHeight * 2;
}

.tx-bc-services .services {
	margin-top: @baseLineHeight * 1.5;
}







