/*!
 * Bootstrap Responsive v2.2.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */


// Responsive.less
// For phone and tablet devices
// -------------------------------------------------------------


// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@-ms-viewport{
  width: device-width;
}


// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "variables.less"; // Modify this for custom colors, font-sizes, etc
@import "mixins.less";


// RESPONSIVE CLASSES
// ------------------

@import "responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Large desktops
@import "responsive-1200px-min.less";




// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "responsive-navbar.less";

@media (max-width: @navbarCollapseWidth) {
	
	.service {
		margin-bottom: @baseLineHeight / 2;
	}

	.navbar-inner {
		#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
		text-align: center;
		position: relative;
	}
	.nav-collapse .nav {
		margin: 0;
	}
	.navbar .nav > li > a {
		color: @white;
		border-top: 1px dotted @white;
		text-shadow: 0 1px 0 darken(@tevRot, 20%);
		font-weight: normal;
	}

	.nav-collapse .nav > li > a {
		margin-bottom: 0;
	}

	.btn-navbar {
		position: absolute;
		right: 9px;
	}

	.navbar .nav > li.first > a {
		border-top: 0;
	}

	.navbar .nav > li > a:focus,
	.navbar .nav > li > a:hover {
		background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
		color: @white;
		text-decoration: none;
		text-shadow: 1px 1px 9px darken(@tevGelb, 5%);
	}

	.navbar-hint {
		color: @white;
		font-size: 26px;
		line-height: 40px;
		.box-shadow(0 1px 0 rgba(0,0,0,.25));
		.border-radius(4px);
		text-shadow: 0 0 0 darken(@grayLight, 5%);
		#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
	}

	// Active nav items
	.navbar .nav > .active > a,
	.navbar .nav > .active > a:hover,
	.navbar .nav > .active > a:focus {
		background-color: @navbarLinkBackgroundActive;
		color: @white;
		.box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
	}

	.kontakt-box {
		.map {
			height: 60px;
			margin-bottom: @baseLineHeight / 2 - 2;
		}
		.phone {
			font-size: 23px;
			text-align: center;
			padding: 10px 0 0 0;
		}
		.icons {
			.icon {
				font-size: @fontSizeSmall * 1.5;
			}
		}
	}

	h3.csc-firstHeader {
		font-size: @fontSizeLarge * 1.2;
		line-height: @baseLineHeight * 1.2;
	}

	.bodytext {
		font-size: @fontSizeSmall * 1.1;
		line-height: @baseLineHeight * 0.9;
	}
	
	blockquote {
		margin: @baseLineHeight @baseLineHeight;
	}

	/*
	.main .span3 {
		width: 228px;
	}
	*/
}

// Tablets to regular desktops
@import "responsive-768px-979px.less";

// Phones to portrait tablets and narrow desktops
@import "responsive-767px-max.less";

// Phones to portrait tablets and narrow desktops
@import "responsive-480px-max.less";