{namespace v=Tx_Vhs_ViewHelpers}

<!-- debug section -->
{_all -> f:debug(title: '_all – DynamicPageTemplate.html') -> f:comment()}

<f:layout name="DynamicPageTemplate" />

<v:page.header>
	{f:base()}
	{f:render(section: 'Meta', partial: 'PageObjects', arguments: '{_all}')}
	{f:render(section: 'Resources', optional: 'TRUE', arguments: '{_all}')}
</v:page.header>

<div class="container dynamic">
	{f:render(section: 'Main', partial: 'PageObjects', arguments: '{_all: _all, uidMeta: 10}')}
	{f:render(section: 'Grid', arguments: '{_all}')}
	<hr />
	{f:render(section: 'Footer', partial: 'PageObjects', arguments: '{_all: _all, dropUp: 1 }')}
</div>