{namespace v=Tx_Vhs_ViewHelpers}

<!-- debug section -->
{_all -> f:debug(title: '_all – Layouts/Page/Hilfe.html') -> f:comment()}
{settings -> f:debug(title: 'settings -> Layouts/Page/Hilfe.html') -> f:comment()}

<f:layout name="HilfeCarousel" />
{f:render(section: 'SharedPageHeadHilfe', arguments: '{_all}') -> v:page.header()}
<div id="hilfe" class="container-fluid">
	<div class="row-fluid header">
		<div class="span12">
			{f:render(section: 'MetaMenu', partial: 'PageObjects', arguments: '{pageUid: 10}') -> f:comment()}
			{f:render(section: 'Logo', partial: 'PageObjects', arguments: '{settings: settings, height: 76, id: "logo"}')}
		</div>
	</div>
	<div class="row-fluid carousel-nav">
		<div class="span12">{f:render(section: 'PanelNavbar', arguments: {panels: panels})}</div>
	</div>
	
	<div class="row-fluid content">
		<div class="span12">
			<div class="carousel-perspective">
				<!--TYPO3SEARCH_begin-->
				{f:render(section: 'MainContent', arguments: '{_all}')}
				<!--TYPO3SEARCH_end-->
			</div>
		</div>
	</div>

	<div class="row-fluid footer">
		<div class="span12">
			{f:render(section: 'Footer', partial: 'PageObjects', arguments: '{_all: _all, dropUp: 1, fluid: 1 }')}
		</div>
	</div>
</div>