{namespace v=Tx_Vhs_ViewHelpers}

<!-- debug section -->
{_all -> f:debug(title: '_all – Layouts/Page/Hilfe.html') -> f:comment()}
{settings -> f:debug(title: 'settings -> Layouts/Page/Hilfe.html') -> f:comment()}

<f:layout name="Hilfe" />
{f:render(section: 'SharedPageHeadHilfe', arguments: '{_all}') -> v:page.header()}

<div class="hilfe top">
{f:render(section: 'Logo', partial: 'PageObjects', arguments: '{settings: settings, height: 76, id: "logo"}')}
{f:render(section: 'MetaMenu', partial: 'PageObjects', arguments: '{pageUid: 10}')}
</div>
<!--TYPO3SEARCH_begin-->
{f:render(section: 'MainContent', arguments: '{_all}')}
<!--TYPO3SEARCH_end-->
<div class="hilfe bottom">
{f:render(section: 'Footer', partial: 'PageObjects', arguments: '{_all: _all, dropUp: 1, fluid: 1 }')}
<!-- <button id="iterateEffects" class="pt-touch-button iterateEffects">Show next page transition</button> -->
</div>