{namespace v=Tx_Vhs_ViewHelpers}

<f:layout name="VereinSubpage" />

{f:render(section: 'SharedPageHead', partial: 'PageObjects', arguments: '{_all}') -> v:page.header()}

<div class="container verein sub">
	{f:render(section: 'Main', partial: 'PageObjects', arguments: '{_all: _all, uidMeta: 10}')}
	<div class="row main">
		<div class="span9 content">
			{f:render(section: 'MainContent', arguments: '{_all}')}
		</div>
		<div class="span3 sidebar">
			<div class="inner">
				{f:render(section: 'Teaser', partial: 'PageObjects', arguments: '{_all}')}
			</div>
		</div>
	</div>
	<hr>
	{f:render(section: 'Footer', partial: 'PageObjects', arguments: '{_all: _all, dropUp: 1, fluid: 1}')}
</div>