{namespace v=Tx_Vhs_ViewHelpers}

<!-- debug section -->
{_all -> f:debug(title: '_all – VereinHome.html') -> f:comment()}

<f:layout name="VereinHome" />

{f:render(section: 'SharedPageHead', partial: 'PageObjects', arguments: '{_all}') -> v:page.header()}

<div class="container verein home">
	{f:render(section: 'Main', partial: 'PageObjects', arguments: '{_all: _all, uidMeta: 10}')}
	<div class="row feature">
		<div class="span3">
			<!--TYPO3SEARCH_begin-->
			{f:render(section: 'Info', partial: 'PageObjects', arguments: '{_all}')}
			<!--TYPO3SEARCH_end-->
		</div>
		<div class="span9">
			{f:render(section: 'Keyvisual', partial: 'PageObjects', arguments: '{_all}')}
		</div>
	</div>
	
	<div class="row main">
		<div class="span12 content">
			<!--TYPO3SEARCH_begin-->
			{f:render(section: 'MainContent', arguments: '{_all}')}
			<!--TYPO3SEARCH_end-->
		</div>
	</div>

	<div class="row teaser-area clearfix">
		<div class="span12">
			<!--TYPO3SEARCH_begin-->
			{f:render(section: 'Teaser', partial: 'PageObjects', arguments: '{_all}')}
			<!--TYPO3SEARCH_end-->
		</div>
	</div>
	<hr />
	{f:render(section: 'Footer', partial: 'PageObjects', arguments: '{_all: _all, dropUp: 1, fluid: 1}')}
</div>