/*!
 * Bootstrap Responsive v2.3.2
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */


// Responsive.less
// For phone and tablet devices
// -------------------------------------------------------------

// IE10 Metro responsive
// Required for Windows 8 Metro split-screen snapping with IE10
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/

@-ms-viewport{
  width: device-width;
}


// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "trotzdem-variables.less"; // Modify this for custom colors, font-sizes, etc
@import "../thirdparty/bootstrap/less/mixins.less";


// RESPONSIVE CLASSES
// ------------------

@import "../thirdparty/bootstrap/less/responsive-utilities.less";


// MEDIA QUERIES
// ------------------

// Large desktops
@import "../thirdparty/bootstrap/less/responsive-1200px-min.less";

@media (min-width: 1200px) {
	
}

// Tablets to regular desktops
@import "../thirdparty/bootstrap/less/responsive-768px-979px.less";

@media (min-width: 768px) and (max-width: 979px) {
	.row-fluid .span3 {
		.makeColumn(3);
		width: 22.9%;
		margin-left: 2.1%;
	}

	.content .accordion .row-fluid .span6,
	.content .span12 .span6 {
		.makeColumn(3);
		width: 47%;
		margin-left: 3%;
	}

	#hilfe .content {
		.span6[class*="offset"] {
			margin-left: 40%;
		}
	}
}

// Phones to portrait tablets and narrow desktops
@import "../thirdparty/bootstrap/less/responsive-767px-max.less";

@media (max-width: 767px) {
	.service .span6 {
		text-align: center;
	}

	.kontakt-box {
		.map {
			height:110px;
		}
		
		.phone {
		font-size: 33px;
		}

		.icons {
			.icon {
			font-size: @fontSizeLarge * 1.5;
			}
		}
		/*
		&:first-child {
			margin-right: 3%;
		}
		*/
	}
	
	.home .main .content .row,
	.teaser-area .row,
	.thumbnails,
	.accordion .row,
	.sidebar .row {
		.makeRow();
		margin-left: -3%;
		
		.span3 {
			.makeColumn(3);
			width: 47%;
			margin-left: 3%;
		}
		
		.span6 {
			.makeColumn(6);
			width: 97%;
			margin-left: 3%;
		}
  	}

	.content .accordion .row-fluid .span6,
	.accordion .row .span4 {
		.makeColumn(3);
		width: 47%;
		margin-left: 3%;
	}
	
	.row-fluid .span3,
	.content .span12 .span6 {
		.makeColumn(3);
		width: 47%;
		margin-left: 3%;
	}
	
	.row-fluid .span3:nth-child(3) {
		margin-left: 0;
	}
	
	.main .sidebar {
		margin-top: @baseLineHeight * 2;
		
		.inner {
			.clearfix();
			.makeRow();
			margin-left: 0;
		}
		
		.inner > .csc-default {
			float: left;
			width: 47%;
			margin-left: 3%;
			margin-left: 0;
			margin-top: 0;
		}
	}

	#hilfe .content {
		
		.span12 .span6 {
  			width: 97%;
  		}

  		.uneditable-input {
			width: 93%;
		}

		.span6[class*="offset"] {
			margin-left: 0;
		}

		.Tx-Formhandler fieldset.span6 {
			width: 100%;
			margin-left: 0;
		}
  	}
}

// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "../thirdparty/bootstrap/less/responsive-navbar.less";

@media (max-width: @navbarCollapseWidth) {
	
	.service {
		margin-bottom: @baseLineHeight / 2;
	}
	.navbar {
		.navbar-inner {
			#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
			text-align: center;
			position: relative;
		}
		
		.navbar-hint {
			color: @white;
			font-size: 26px;
			line-height: 40px;
			.box-shadow(0 1px 0 rgba(0,0,0,.25));
			.border-radius(4px);
			text-shadow: 0 0 0 darken(@grayLight, 5%);
			#gradient > .vertical(@navbarBackgroundHighlight, @navbarBackground);
		}

		.btn-navbar {
			position: absolute;
			right: 9px;
		}

		.nav-collapse .nav {
			margin: 0;

			> li > a {
				margin-bottom: 0;
			}
		}

		.nav > li {
			&.first > a {
				border-top: 0;
			}

			// Active nav items
			&.active > a,
			&.active > a:hover,
			&.active > a:focus {
				background-color: @navbarLinkBackgroundActive;
				color: @white;
				.box-shadow(inset 0 3px 8px rgba(0,0,0,.125));
			}

			> a {
				color: @white;
				border-top: 1px dotted @white;
				text-shadow: 0 1px 0 darken(@tevRot, 20%);
				font-weight: normal;
			}

			> a:focus,
			> a:hover {
				background-color: @navbarLinkBackgroundHover; // "transparent" is default to differentiate :hover from .active
				color: @white;
				text-decoration: none;
				text-shadow: 1px 1px 9px darken(@tevGelb, 5%);
			}
		}
	}

	.content {
		h3.csc-firstHeader {
			font-size: @fontSizeLarge * 1.2;
			line-height: @baseLineHeight * 1.2;
		}

		.bodytext {
			font-size: @fontSizeSmall * 1.1;
			line-height: @baseLineHeight * 0.9;
		}
		
		blockquote {
			margin: @baseLineHeight @baseLineHeight;
		}
	}

	.kontakt-box {
		.map {
			height: 60px;
			margin-bottom: @baseLineHeight / 2 - 2;
		}
		.phone {
			font-size: 23px;
			text-align: center;
			padding: 10px 0 0 0;
		}
		.icons {
			.icon {
			//	font-size: @fontSizeSmall * 1.5;
			}
		}
	}

	// Hilfe
	// ----------------------------------------------------------------------------------
	#hilfe {
		.header {
			background: rgba(255,255,255, .7);
			padding-top: 15px;
			padding-bottom: 15px;

			#logo {
				float: none;
				display: block;
				text-align: center;
				margin: 0;
			}
		}
		.carousel-nav {
			top: 118px;
			right: 0;
			width: 100%;
		}

		.content {
			position: absolute;
			top: 140px;

			.uneditable-input {
				display: inline-block;
			}

			.carousel-control {
				top: 25%;
			}

			[class*="offset"] {
				margin-left: 0;
			}
		}
	}
}

//
// Responsive: up to landscape on phones
// --------------------------------------------------

@media only screen and (max-width: 480px) {
	// Smooth out the collapsing/expanding nav
	.nav-collapse {
		-webkit-transform: translate3d(0, 0, 0); // activate the GPU
	}

	.page-header,
	.page-header h1 {
		margin: 0;
	}

	// Block level the page header small tag for readability
	.page-header h1 small {
		display: inline;
		line-height: @baseLineHeight;
	}

	// Update checkboxes for iOS
	input[type="checkbox"],
	input[type="radio"] {
		border: 1px solid #ccc;
	}

	// Remove the horizontal form styles
	.form-horizontal {
		.control-label {
			float: none;
			width: auto;
			padding-top: 0;
			text-align: left;
		}
		// Move over all input controls and content
		.controls {
			margin-left: 0;
		}
		// Move the options list down to align with labels
		.control-list {
			padding-top: 0; // has to be padding because margin collaspes
		}
		// Move over buttons in .form-actions to align with .controls
		.form-actions {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	// Medias
	// Reset float and spacing to stack
	.media .pull-left,
	.media .pull-right  {
		float: none;
		display: block;
		margin-bottom: 10px;
	}
	// Remove side margins since we stack instead of indent
	.media-object {
		margin-right: 0;
		margin-left: 0;
	}

	// Modals
	.modal {
		top:   10px;
		left:  10px;
		right: 10px;
	}
	.modal-header .close {
		padding: 10px;
		margin: -10px;
	}

	// Carousel
	.carousel-caption {
		position: static;
	}

	.kontakt-box {
		.map {
			height: 110px;
		}

		.phone {
			font-size: 33px;
		}
	}

	.home .main .content .row,
	.teaser-area .row,
	.thumbnails {
		margin-left: -3%;

		.span3 {
			.makeColumn(3);
			width: 97%;
			margin-left: 3%;
		}

		.span6 {
			.makeColumn(6);
			width: 97%;
			margin-left: 3%;
		}
	}

	.main .sidebar {
		margin-top: @baseLineHeight * 2;

		.inner {
			.clearfix();
			.makeRow();
			margin-left: 0;
		}

		.inner > .csc-default {
			float: left;
			width: 97%;
			margin-left: 3%;
			margin-top: 0;
		}
	}
}

@media only screen and (max-width: 320px) {
	.page-header,
	.page-header h1 {
		margin: 0;
		
		// Block level the page header small tag for readability
		small {
			display: block;
			margin-top: @baseLineHeight;
			padding-left: @baseLineHeight * 2.5;
		}
	}
}

