{namespace v=Tx_Vhs_ViewHelpers}
{namespace less=TYPO3\CsLess\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
	xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="SharedResources">
{_all -> f:debug() -> f:comment()}
	<less:style href="{f:uri.resource(path: 'less/trotzdem.less', extensionName: 'trotzdem_template')}" />
	<less:style href="{f:uri.resource(path: 'less/trotzdem-responsive.less', extensionName: 'trotzdem_template')}" />
	<v:asset.style name="openSansFont" path="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" external="1" standalone="1" />
	<v:asset.script name="jquery" path="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" external="1" standalone="1" group="jquery" allowMoveToFooter="1" />
	
	
	<v:asset.script name="modernizr" standalone="0" group="trotzdem" allowMoveToFooter="1" path="{f:uri.resource(path: 'thirdparty/modernizr/modernizr.min.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="transition" dependencies="jquery" standalone="0" group="bootstrap"  allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-transition.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="dropdown" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-dropdown.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="alert" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-alert.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="tooltip" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-tooltip.js', extensionName: 'trotzdem_template')}" />

	<!-- collapse: navbar, Accordion FCE -->
	<v:asset.script name="collapse" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-collapse.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="collapseTuning" dependencies="jquery,collapse" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1">
	/* toggle .accordion-heading icon */
	if ( $('.accordion').length !== 0 ) {
		$('.accordion')
			.on('hide', function(e) {
				$(e.target).parent().find('.accordion-heading i').removeClass('icon-minus-sign').addClass('icon-plus-sign');
			})
			.on('show', function(e){
				$(e.target).parent().find('.accordion-heading i').removeClass('icon-plus-sign').addClass('icon-minus-sign');
			});
	}

	/* selfclose for navbar collapse */
	$(document).ready(function() {
		$('.navbar .nav a').on('click', function(){
			$('.btn-navbar').click();
		});
	});
	</v:asset.script>
	<v:asset.script name="tooltipInit" dependencies="jquery,tooltip" allowMoveToFooter="1" trim="1">
		$('a[rel=tooltip],.btn[rel=tooltip],input[rel=tooltip],textarea[rel=tooltip]').tooltip({
			<![CDATA[
			placement: 'top'
			]]>
		});

		$('cite').tooltip({
			<![CDATA[
			placement: 'bottom'
			]]>
		});
	</v:asset.script>
	<v:asset.script name="general" dependencies="jquery" standalone="0" group="trotzdem" allowMoveToFooter="1" path="{f:uri.resource(path: 'js/general.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="antiSpam" allowMoveToFooter="0" trim="1">
	function obscureAddMid(a,b) {
		zahl = a*b;
		document.write('&#'+zahl+';');
	}
	function obscureAddEnd(a,b) {
		zahl = a+b;
		document.write('&#'+zahl+';');
	}
	</v:asset.script>

	<v:if.client.isBrowser browser="msie">
		<f:then>
			<v:asset.script name="respondJS" dependencies="jquery" standalone="0" group="trotzdem" allowMoveToFooter="1" path="{f:uri.resource(path: 'thirdparty/Respond/respond.min.js', extensionName: 'trotzdem_template')}" />
			<v:asset.script name="fadingPngIeFix" allowMoveToFooter="0" trim="1">
			var i;
			for (i in document.images) {
				if (document.images[i].src) {
					var imgSrc = document.images[i].src;
					if (imgSrc.substr(imgSrc.length-4) === '.png' || imgSrc.substr(imgSrc.length-4) === '.PNG') {
					document.images[i].style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='crop',src='" + imgSrc + "')";
					}
				}
			}
			</v:asset.script>
		</f:then>
	</v:if.client.isBrowser>
</f:section>

<f:section name="SharedResourcesHilfe">

	<less:style href="{f:uri.resource(path: 'less/trotzdem.less', extensionName: 'trotzdem_template')}" />
	<less:style href="{f:uri.resource(path: 'less/trotzdem-responsive.less', extensionName: 'trotzdem_template')}" />

	<v:asset.style name="openSansFont" path="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" external="1" standalone="1" />
	<v:asset.script path="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" external="1" standalone="1" name="jquery" group="jquery" allowMoveToFooter="1" />

	<v:asset.script name="modernizr" dependencies="jquery" standalone="0" group="trotzdem" allowMoveToFooter="1" path="{f:uri.resource(path: 'thirdparty/modernizr/modernizr.min.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="dropdown" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-dropdown.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="transition" dependencies="jquery" standalone="0" group="bootstrap"  allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-transition.js', extensionName: 'trotzdem_template')}" />
	
	<!-- collapse: hilfe -->
	<v:asset.script name="carousel" dependencies="jquery" standalone="0" group="bootstrap"  allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-carousel.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="carouselTuning" dependencies="jquery,collapse" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1">
	/* show .carousel-control only on hover */
	if ( $('.carousel').length ) {
		$('.carousel').mouseenter(function(e) {
			$(this).find('.carousel-control').show();
		})
		.mouseleave(function(e) {
			$(this).find('.carousel-control').hide();
		});
	}
	</v:asset.script>

	<!-- collapse: navbar, Accordion FCE -->
	<v:asset.script name="collapse" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-collapse.js', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="collapseTuning" dependencies="jquery,collapse" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1">
	/* selfclose for navbar collapse */
	$(document).ready(function() {
		$('.navbar .nav a').on('click', function(){
			$('.btn-navbar').click();
		});
	});
	</v:asset.script>
	<v:asset.script name="alert" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-alert.js', extensionName: 'trotzdem_template')}" />
	
	<v:asset.script name="ajaxMenu" dependencies="jquery" allowMoveToFooter="1" trim="1" standalone="1">
	;(function($) {
		$('[role="ajax-loader"]').each(function() {
			var el = $(this);
			setTimeout(function() {
				el.load(el.attr('data-url'));
			}, el.attr('data-delay') ? el.attr('data-delay') : 0);
		});
	})(jQuery);
	</v:asset.script>

	<v:asset.script name="antiSpam" allowMoveToFooter="0" trim="1">
	function obscureAddMid(a,b) {
		zahl = a*b;
		document.write('&#'+zahl+';');
	}
	function obscureAddEnd(a,b) {
		zahl = a+b;
		document.write('&#'+zahl+';');
	}
	</v:asset.script>
</f:section>

<!-- page <head /> section -->
<f:section name="SharedPageHead">
    {f:base() -> f:comment()}
    {v:page.header.title(title: page.title)}
    {v:page.header.meta(name: 'viewport', content: 'width=device-width, initial-scale=1.0')}
    {f:render(section: 'SharedResources', arguments: '{_all}')}
</f:section>

<f:section name="Logo">
	<f:link.external uri="{settings.project.url}" class="{class} pull-left" id="{id}" title="TROTZDEM e.V. - Home">
		<f:if condition="{settings.isMobile}" then="{v:var.set(name: 'height', value: '400'}" />
		{settings -> f:debug(title: 'Partials/Page/PageObjects – settings debug') -> f:comment()}
		<v:condition.isMobile includeTablets="0">
			<f:then>
				<div class="page-header">
					<h1>TROTZDEM <small>VEREIN FÜR JUGENDHILFE</small></h1>
				</div>
			</f:then>
			<f:else>
				<v:if.client.isBrowser browser="msie">
					<f:then>
						<v:media.image src="/typo3conf/ext/trotzdem_template/Resources/Public/images/trotzdem-logo.png" alt="{settings.siteTitle} – Verein für Jugendhilfe" height="{height}" />
					</f:then>
					<f:else>
						<img src="/typo3conf/ext/trotzdem_template/Resources/Public/images/trotzdem-logo.svg" alt="{settings.siteTitle} – Verein für Jugendhilfe" height="90" width="220" class="svg">
					</f:else>
				</v:if.client.isBrowser>
			</f:else>
		</v:condition.isMobile>
	</f:link.external>
</f:section>

<f:section name="Main">
{_all -> f:debug(title: '_all – Section Main') -> f:comment()}
	<header class="main">
		<div class="service{f:if(condition: fluid, then: ' row-fluid', else: ' row')}">
			<div class="span12">
				<f:render section="MetaMenu" partial="PageObjects" arguments="{pageUid: uidMeta}" />
				<f:render section="Logo" partial="PageObjects" arguments="{settings: settings,height: 76, id: 'logo'}" />
			</div>
		</div>

		<f:render section="NavBar" arguments="{_all: '{_all}', pageUid: pageUid, fluid: fluid }" />
	</header>
</f:section>

<f:section name="NavBar">
{_all -> f:debug(title: '_all – Section Navbar') -> f:comment()}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<span class="hidden-desktop navbar-hint">Menü</span>
			<f:comment>
			<!-- Be sure to leave the brand out there if you want it shown -->
			<f:link.page pageUid="/" class="brand visible-phone">{settings.siteTitle}</f:link.page>
			</f:comment>
			<!-- Everything you want hidden at 940px or less, place within here -->
			<div class="nav-collapse">
				<!-- .nav, .navbar-search, .navbar-form, etc -->
				<nav>
					<!-- hier kommt die Navigation -->
					{f:render(section: 'MainMenu', partial: 'PageObjects', arguments: '{pageUid: pageUid, _all: _all._all}')}
				</nav>
			</div>
		</div>
	</div>
</div>
</f:section>

<f:section name="MainMenu">
<!-- debug section -->
{pageUid-> f:debug(title: 'pageUid – Section MainMenu') -> f:comment()}
{_all -> f:debug(title: '_all – Section Navbar') -> f:comment()}
<v:page.menu pageUid="{pageUid}" class="nav pull-right">
	<ul class="nav pull-right">
		<f:for each="{menu}" as="menuItem" iteration="iteration">
			<f:if condition="{menuItem.hasSubPages}">
				<f:then>
					<f:if condition="{iteration.isLast} == 1">
						<f:then>
							<li class="{menuItem.class} last dropdown">
								<a href="{menuItem.link}" class="dropdown-toggle" data-toggle="dropdown">{menuItem.title} <b class="caret"></b></a>
								<v:page.menu pageUid="{menuItem.uid}" class="dropdown-menu"/>
							</li>
						</f:then>
						<f:else>
							<li class="{menuItem.class} dropdown">
								<a href="{menuItem.link}" class="dropdown-toggle" data-toggle="dropdown">{menuItem.title} <b class="caret"></b></a>
								<v:page.menu pageUid="{menuItem.uid}" class="dropdown-menu"/>
							</li>
						</f:else>
					</f:if>
					<f:comment>
					<f:if condition="{iteration.isLast} == 1">
						<f:then>
							
						</f:then>
						<f:else>
							<li class="divider-vertical"></li>
						</f:else>
					</f:if>
					</f:comment>
				</f:then>
				<f:else>
					<f:if condition="{iteration.isLast} == 1">
						<f:then>
							<li class="{menuItem.class} last">
								<a href="{menuItem.link}" class="{menuItem.class}">{menuItem.title}</a>
							</li>
						</f:then>
						<f:else>
							<f:if condition="{iteration.isFirst} == 1">
								<f:then>
									<li class="{menuItem.class} first">
										<a href="{menuItem.link}" class="{menuItem.class}">{menuItem.title}</a>
									</li>
								</f:then>
								<f:else>
									<li class="{menuItem.class}">
										<a href="{menuItem.link}" class="{menuItem.class}">{menuItem.title}</a>
									</li>
								</f:else>
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</f:for>
</ul>
</v:page.menu>
</f:section>

<f:section name="MetaMenu">
{f:render(section: 'metaMenuClassForMobile', arguments: {dropUp: dropUp}) -> v:condition.isMobile(includeTablets: 1 ) -> f:comment()}
{dropUp -> f:debug(title: 'dropUp switch') -> f:comment()}
<div class="meta pull-right{f:if(condition: dropUp, then: ' btn-group dropup', else: ' btn-group') -> v:condition.isMobile(includeTablets: 1 )}">
	<v:condition.isMobile includeTablets="1">
		<f:then>
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">SERVICE <i class="{f:if(condition: dropUp, then: 'icon-caret-up', else: 'icon-caret-down')} icon"></i></a>
		</f:then>
	</v:condition.isMobile>
	<v:page.menu pageUid="{pageUid}" classActive="active" class="nav{v:condition.isMobile(then: ' dropdown-menu',else: ' nav-pills', includeTablets: 1)}">
	<ul class="nav{v:condition.isMobile(then: ' dropdown-menu',else: ' nav-pills', includeTablets: 1)}">
		<f:for each="{menu}" as="menuItem" iteration="iteration">
			<f:if condition="{menuItem.hasSubPages}">
				<f:then>
					 <li class="{menuItem.class} dropdown">
						<a href="{menuItem.link}" class="dropdown-toggle" data-toggle="dropdown">{menuItem.title} <b class="caret"></b></a>
						<v:page.menu pageUid="{menuItem.uid}" class="dropdown-menu"/>
					</li>
				</f:then>
				<f:else>
					<li class="{menuItem.class}">
						<a href="{menuItem.link}" class="{menuItem.class}">{menuItem.title}</a>
					</li>
				</f:else>
			</f:if>
		</f:for>
	</ul>
	</v:page.menu>
</div>
</f:section>

<f:section name="Footer">
	<div class="footer clearfix{f:if(condition: fluid, then: ' row-fluid', else: ' row')}">
		{f:render(section: 'MetaMenu', partial: 'PageObjects', arguments: '{pageUid: 11, dropUp: dropUp}')}
		{f:render(section: 'FooterBrand', partial: 'PageObjects')}
	</div>

	<script type="text/javascript">
	<![CDATA[var _gaq = _gaq || [];
		_gaq.push(['_setAccount', ']]>{settings.project.analyticsID}<![CDATA[']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();]]>
	</script>
</f:section>

<f:section name="FooterBrand">
	<p class="brand"><sup>&copy;</sup> <f:format.date format="Y">{v:system.dateTime()}</f:format.date> {settings.project.name}</p>
</f:section>

<f:section name="Info">
{v:page.content.render(column: 1)}
</f:section>

<f:section name="Teaser">
{v:page.content.render(column: 3)}
</f:section>

<f:section name="Keyvisual">
{v:page.content.render(column: 2)}
</f:section>

</div>
<f:section name="socialshareprivacy">
<v:asset.style name="socialshareprivacyCss" path="{f:uri.resource(path: 'css/socialshareprivacy.css', extensionName: 'trotzdem_template')}" group="thirdparty" dependencies="openSansFont" standalone="0" />
<v:asset.script name="socialshareprivacy" dependencies="jquery" standalone="0" group="trotzdem" allowMoveToFooter="1" path="{f:uri.resource(path: 'thirdparty/socialshareprivacy/jquery.socialshareprivacy.js', extensionName: 'trotzdem_template')}" />
<v:asset.script name="socialshareprivacyInit" dependencies="jquery" standalone="0" group="trotzdem" allowMoveToFooter="1">
<v:format.plaintext>;$(function() {</v:format.plaintext>
	<v:format.plaintext>$(document).ready(function($){</v:format.plaintext>
		<v:format.plaintext>if($('#socialshareprivacy').length > 0){</v:format.plaintext>
			<v:format.plaintext>$('#socialshareprivacy').socialSharePrivacy({</v:format.plaintext>
					<v:format.plaintext>css_path : 'typo3conf/ext/trotzdem_template/Resources/Public/css/socialshareprivacy.css',</v:format.plaintext>
					<v:format.plaintext>services : {</v:format.plaintext>
							<v:format.plaintext>facebook : {</v:format.plaintext>
							<v:format.plaintext>'dummy_img': '/typo3conf/ext/trotzdem_template/Resources/Public/thirdparty/socialshareprivacy/socialshareprivacy/images/dummy_facebook.png'</v:format.plaintext>
						<v:format.plaintext>},</v:format.plaintext>
						<v:format.plaintext>twitter : {</v:format.plaintext>
							<v:format.plaintext>'dummy_img': '/typo3conf/ext/trotzdem_template/Resources/Public/thirdparty/socialshareprivacy/socialshareprivacy/images/dummy_twitter.png'</v:format.plaintext>
						<v:format.plaintext>},</v:format.plaintext>
						<v:format.plaintext>gplus : {</v:format.plaintext>
							<v:format.plaintext>'dummy_img': '/typo3conf/ext/trotzdem_template/Resources/Public/thirdparty/socialshareprivacy/socialshareprivacy/images/dummy_gplus.png'</v:format.plaintext>
						<v:format.plaintext>}</v:format.plaintext>
					<v:format.plaintext>}</v:format.plaintext>
			<v:format.plaintext>});</v:format.plaintext>
		<v:format.plaintext>}</v:format.plaintext>
	<v:format.plaintext>});</v:format.plaintext>
<v:format.plaintext>});</v:format.plaintext>
 </v:asset.script>
<div id="socialshareprivacy" class="span7"></div>
</f:section>