<!-- ###master_input_controls### -->
<div class="control-group span ###is_error_###fieldname######">
	<label class="" for="###fieldname###" >###LLL:###fieldname###### ###required_###fieldname######</label>
		###error_###fieldname######
		<input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
</div>
<!-- ###master_input_controls### -->

<!-- ###master_input_placeholder### -->
###error_###fieldname######
<input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######"/>
<!-- ###master_input_placeholder### -->

<!-- ###master_input_placeholder_controlgroup### -->
<div class="control-group ###is_error_###fieldname######">
	###error_###fieldname######
	<input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######"/>
</div>
<!-- ###master_input_placeholder_controlgroup### -->

<!-- ###master_input_placeholder_addon### -->
<div class="control-group ###is_error_###fieldname######">
	###error_###fieldname######
	<div class="input-prepend">
		<span class="add-on">@</span>
		<input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######"/>
	</div>
</div>
<!-- ###master_input_placeholder_addon### -->

<!-- ###master_input_errortooltip_DRAFT### -->
<div class="control-group ###is_error_###fieldname######">
	<label class="control-label" for="###fieldname###" >###required_###fieldname######</label>
	<div class="controls .tooltip-demo">
		<a href="#" data-toggle="tooltip" title="###error_###fieldname######">
			<input type="text" size="20" data-toggle="tooltip" title="###error_###fieldname######" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname######"/>
		</a>
		###error_###fieldname######
	</div>
</div>
<!-- ###master_input_errortooltip_DRAFT### -->

<!-- ###master_textarea_placeholder### -->
<div class="control-group ###is_error_###fieldname######">
	<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>###error_###fieldname######</div>
	<textarea rows="3" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" placeholder="###LLL:###fieldname###### ###required_###fieldname######" rel="tooltip" title="###error_###fieldname######">###value_###fieldname######</textarea>
</div>
<!-- ###master_textarea_placeholder### -->

<!-- ###master_textarea_controls### -->
<div class="control-group span ###is_error_###fieldname######">
	<label class="" for="###fieldname###" >###LLL:###fieldname###### ###required_###fieldname######</label>
		<textarea rows="3" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
		###error_###fieldname######
</div>
<!-- ###master_textarea_controls### -->

<!-- ###master_anrede### -->
###error_anrede###    
<div class="control-group ###is_error_###fieldname######">
	
	<select id="anrede" name="###formValuesPrefix###[anrede]" class="select">
		<option value="###LLL:anrede_1###" ###selected_anrede_###LLL:anrede_1######>###LLL:anrede_1###</option>
		<option value="###LLL:anrede_2###" ###selected_anrede_###LLL:anrede_2######>###LLL:anrede_2###</option>
		<option value="###LLL:anrede_3###" ###selected_anrede_###LLL:anrede_3######>###LLL:anrede_3###</option>
		<option value="###LLL:anrede_4###" ###selected_anrede_###LLL:anrede_4######>###LLL:anrede_4###</option>
	</select>
	###validate_anrede###
</div>
<!-- ###master_anrede### -->

<!-- ###master_anrede_controls### -->
###error_anrede###    
<div class="control-group span ###is_error_###fieldname######">
	<label class="" for="anrede" ###is_error_anrede###>###LLL:anrede### ###required_anrede###</label>
		<select id="anrede" name="###formValuesPrefix###[anrede]" class="select">
			<option value="###LLL:anrede_1###" ###selected_anrede_###LLL:anrede_1######>###LLL:anrede_1###</option>
			<option value="###LLL:anrede_2###" ###selected_anrede_###LLL:anrede_2######>###LLL:anrede_2###</option>
			<option value="###LLL:anrede_3###" ###selected_anrede_###LLL:anrede_3######>###LLL:anrede_3###</option>
			<option value="###LLL:anrede_4###" ###selected_anrede_###LLL:anrede_4######>###LLL:anrede_4###</option>
		</select>
		###validate_anrede###
</div>
<!-- ###master_anrede_controls### -->

<!-- ###master_checkbox### -->
<div class="control-group">
	<label class="control-label" for="###fieldname###" >###LLL:###fieldname######</label>
	<div class="controls">
	<input type="checkbox" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######">
	</div>
</div>
<!-- ###master_checkbox### -->

<!-- ###master_checkbox_reverse### -->
<div class="control-group">
	<div class="input-prepend">
		<span class="add-on"><input type="checkbox" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###LLL:###fieldname######"></span><label for="###fieldname###" class="uneditable-input"><span>###LLL:###fieldname######</span></label>
	</div>
</div>
<!-- ###master_checkbox_reverse### -->

<!-- ###master_checkbox_single### -->
<label class="checkbox">
	<input type="checkbox" size="20" ame="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######">
	###LLL:###fieldname######
</label>
<!-- ###master_checkbox_single### -->

<!-- ###master_checkbox_single_inline### -->
<label class="checkbox inline">
	<input type="checkbox" size="20" ame="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######">
	###LLL:###fieldname######
</label>
<!-- ###master_checkbox_single_inline### -->

<!-- ###master_radio_reverse### -->
<div class="control-group ###is_error_###fieldname######">
	<div class="controls">
	<label class="radio" for="###fieldname###" >
		<input type="radio" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######">
		###LLL:###fieldname######
	</label>
	###error_###fieldname######
	</div>
</div>
<!-- ###master_radio_reverse### -->


<!-- ###master_submit### -->
<div class="control-group">
	<div class="controls">
		<button class="btn" type="submit" ###submit_nextStep###>###LLL:submit###</button>
	</div>
</div>
<!-- ###master_submit### -->

<!-- ###master_submit_button### -->
<button class="btn pull-right" type="submit" ###submit_nextStep###>###LLL:submit###</button>
<!-- ###master_submit_button### -->


<!-- Multiple checkboxes with one label -->

<!-- ###master_section_cbgroup_start### -->
<div class="control-group">
	<label class="control-label" for="###fieldname###">###LLL:###fieldname######</label>
	<div class="controls" id="fieldname">
<!-- ###master_section_cbgroup_start### -->

<!-- ###master_section_cbgroup-end### -->
	</div>
</div>
<!-- ###master_section_cbgroup-end### -->

<!-- Multiple fields in one row -->




<!-- ###master_multipart-form-start### -->
<form action="###REL_URL###" method="post" class="form" id="###fieldname###" enctype="multipart/form-data" >
  ###HIDDEN_FIELDS###
  <div class="row-fluid">
<!-- ###master_multipart-form-start### -->

<!-- ###master_form-end### -->
	</div>
</form>
<!-- ###master_form-end### -->



<!-- Multiple fields in one row -->

<!-- ###master_input_placeholder_row3### -->
<input class="span3" type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######"/> 
<!-- ###master_input_placeholder_row3### -->

<!-- ###master_input_placeholder_row5### -->
<input class="span5" type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######"/> 
<!-- ###master_input_placeholder_row5### -->

<!-- ###master_input_placeholder_row1### -->
<input class="span1" type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######"/> 
<!-- ###master_input_placeholder_row1### -->

<!-- ###master_section_multirow-start### -->
<div class="control-group">
	<div class="controls controls-row">
<!-- ###master_section_multirow-start### -->

<!-- ###master_section_multirow-end### -->
	</div>
</div>
<!-- ###master_section_multirow-end### -->

<!-- Multiple fields in one row -->





<!-- ###master_email-user-start-plain### -->

###LLL:greetings### ###value_vorname### ###value_nachname###,

###LLL:email_user_text###
====================================================================

<!-- ###master_email-user-start-plain### -->

<!-- ###master_email-user-end-plain### -->

====================================================================

###LLL:email_user_footer### ###emailInfo###
<!-- ###master_email-user-end-plain### -->

<!-- ###master_email-admin-start-plain### -->

###LLL:email_admin_text###
====================================================================

<!-- ###master_email-admin-start-plain### -->

<!-- ###master_email-admin-end-plain### -->

====================================================================

###LLL:email_admin_footer### ###emailInfo###
<!-- ###master_email-admin-end-plain### -->

<!-- ###master_email-user-start-html### -->
<div id="wrap" style="margin: 0; padding: 0 0 15px 0; text-align: center;font-family: Arial, sans-serif; background-color: #f3f3f3;padding-top: 20px;">
	<div id="wrapInner" style="width: 660px; margin: 0 auto 9px auto; text-align: left; background-color: #FFFFFF;border: 1px solid #C1C1C1;">
		<div id="email" style="margin: 15px;">
			<table id="header" style="width:100%; height: 100px; border-bottom: 1px solid #C1C1C1">
				<tbody>
					<tr>
						<td id="logo" valign="top" align="left" rowspan="2" width="30%">###emailLogo###</td>
						<td></td>
					</tr>
					<tr>
						<td>
							<p>###LLL:greetings### ###value_vorname### ###value_nachname###,</p>
							<p>###LLL:email_user_text###</p>
						</td>
					</tr>
				</tbody>
			</table>
			<table id="emailContent" style="width:100%; padding-top: 9px; padding-bottom: 9px; margin-bottom: 9px; border-bottom: 1px solid #C1C1C1">
<!-- ###master_email-user-start-html### -->

<!-- ###master_email-user-end-html### -->
			</table>
			<p style="color: #AAAAAA; text-align: right; font-size: 8pt;">###LLL:email_user_footer######emailInfo###</p>
		</div>
	</div>
</div>
<!-- ###master_email-user-end-html### -->

<!-- ###master_email-admin-start-html### -->
<div id="wrap" style="margin: 0; padding: 0 0 15px 0; text-align: center;font-family: Arial, sans-serif; background-color: #f3f3f3;padding-top: 20px;">
	<div id="wrapInner" style="width: 660px; margin: 0 auto 9px auto; text-align: left; background-color: #FFFFFF;border: 1px solid #C1C1C1;">
		<div id="email" style="margin: 15px;">
			<table id="header" style="width:100%; height: 100px; border-bottom: 1px solid #C1C1C1">
				<tbody>
					<tr>
						<td id="logo" valign="top" align="left" rowspan="2" width="30%">###emailLogo###</td>
						<td></td>
					</tr>
					<tr>
						<td><p>###LLL:email_admin_text###</p></td>
					</tr>
				</tbody>
			</table>
			<table id="emailContent" style="width:100%; padding-top: 9px; padding-bottom: 9px; margin-bottom: 9px; border-bottom: 1px solid #C1C1C1">
<!-- ###master_email-admin-start-html### -->

<!-- ###master_email-admin-end-html### -->
			</table>
			<p style="color: #AAAAAA; text-align: right; font-size: 8pt;">###LLL:email_admin_footer######emailInfo###</p>
		</div>
	</div>
</div>
<!-- ###master_email-admin-end-html### -->

<!-- ###master_email-line-plain### -->
###LLL:###fieldname######:
--------------------------------------------------------------------
###value_###fieldname######
<!-- ###master_email-line-plain### -->

<!-- ###master_email-line-html### -->
<tr>
	<td valign="top" style="padding: 5px;" width="30%"><strong>###LLL:###fieldname######</strong></td>
	<td style="background-color: #F5F5F5; padding: 5px;">###value_###fieldname######</td>
</tr>
<!-- ###master_email-line-html### -->

<!-- ###master_email-line-html-callback### -->
<tr>
	<td valign="top" style="padding: 5px;" width="30%"><strong>###LLL:email_callback###</strong></td>
	<td style="background-color: #F5F5F5; padding: 5px;">###value_###fieldname######</td>
</tr>
<!-- ###master_email-line-html-callback### -->


<!-- ------------------FROM DEMO FORM---------------- -->


<!-- ###master_input_ajax### -->
###error_###fieldname######
<div class="type-text ajax">
  <label for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
  <input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######"/>
  ###validate_###fieldname######
</div>
<!-- ###master_input_ajax### -->

<!-- ###master_textarea_ajax### -->
###error_###fieldname######    
<div class="type-text ajax">
  <label for="###fieldname###">###LLL:###fieldname###### ###required_###fieldname######</label>
  <textarea rows="3" cols="30" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]">###value_###fieldname######</textarea>
  ###validate_###fieldname######
</div>
<!-- ###master_textarea_ajax### -->


<!-- ###master_position### -->
###error_position###    
<div class="type-text">
	<label for="position" ###is_error_position###>###LLL:position### ###required_position###</label>
	<select id="position" name="###formValuesPrefix###[position]" class="select">
		<option value="">---</option>
		<option value="###LLL:job_1###" ###selected_position_###LLL:job_1######>###LLL:job_1###</option>
		<option value="###LLL:job_2###" ###selected_position_###LLL:job_2######>###LLL:job_2###</option>
		<option value="###LLL:job_3###" ###selected_position_###LLL:job_3######>###LLL:job_3###</option>
	</select>
	###validate_position###
</div>
<!-- ###master_position### -->

<!-- ###master_contact-type### -->
###error_contact-type###    
<div class="type-check">
	<label for="contact-type-private" ###is_error_contact-type###>###LLL:contact-type### ###required_contact-type###</label>
	<div>
		<input type="radio" id="contact-type-private" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.private###" ###checked_contact-type_###LLL:contact-type.private###### />
		<label for="contact-type-private">###LLL:contact-type.private###</label>
	</div>
	<div>
		<input type="radio" id="contact-type-commercial" name="###formValuesPrefix###[contact-type]" value="###LLL:contact-type.commercial###" ###checked_contact-type_###LLL:contact-type.commercial###### />
		<label for="contact-type-commercial">###LLL:contact-type.commercial###</label>
	</div>
</div>
<!-- ###master_contact-type### -->

<!-- ###master_file### -->
###error_###fieldname######
<div class="type-text type-file">
  <label for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname###### ###required_###fieldname######</label>
  <input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
	<input type="submit" ###submit_reload### class="button submit" value="###LLL:submit_reload###" />
</div>
<div class="type-text">
	<div class="fileupload-info">
    <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
  	<span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
  	<span class="label">###LLL:uploadedFiles_count###</span> <span class="info">######fieldname###_fileCount### / ######fieldname###_maxCount###</span>
	</div>
</div>
######fieldname###_uploadedFiles###
<!-- ###master_file### -->

<!-- ###master_basicfile### -->
###error_###fieldname######
<div class="type-text type-file">
  <label for="###fieldname###" ###is_error_###fieldname######>###LLL:###fieldname###### ###required_###fieldname######</label>
  <input type="file" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" />
</div>
<div class="type-text">
	<div class="fileupload-info">
    <span class="label">###LLL:allowedTypes###</span> <span class="info">######fieldname###_allowedTypes###</span>
  	<span class="label">###LLL:maxSize###</span> <span class="info">######fieldname###_maxSize###</span>
	</div>
</div>
<!-- ###master_basicfile### -->

<!-- ###master_spamprotection-captcha### -->
<div class="type-text">
###error_captchafield###
	<label>###LLL:captcha### ###required_captchafield###</label>
	<div class="captcha">	
		###CAPTCHA###
		<input type="text" name="###formValuesPrefix###[captchafield]" />
	</div>
</div>
<!-- ###master_spamprotection-captcha### -->

<!-- ###master_spamprotection-jm_recaptcha### -->
<div class="type-text">
###error_recaptcha_response_field###
	<label>###LLL:captcha### *</label>
	<div class="recaptcha">
		###RECAPTCHA###
	</div>
</div>
<!-- ###master_spamprotection-jm_recaptcha### -->

<!-- ###master_spamprotection-sr_freecap### -->
<div class="type-text">
###error_freecapfield###
	<label>###SR_FREECAP_NOTICE### ###required_freecapfield###</label>
	<div class="sr_freecap">
		###SR_FREECAP_IMAGE###
		<div class="sr_freecap-input">
			<input type="text" size="15" id="freecapfield" name="###formValuesPrefix###[freecapfield]" title="###SR_FREECAP_NOTICE###" value="" />
			###SR_FREECAP_CANT_READ###
		</div>
	</div>
</div>
<!-- ###master_spamprotection-sr_freecap### -->

<!-- ###master_spamprotection-wt_calculating_captcha### -->
<div class="type-text">
###error_wt_calculating_captchafield###
	<label>###LLL:captcha### ###required_wt_calculating_captchafield###</label>
	<div class="wt_captcha">
		###WT_CALCULATING_CAPTCHA###
		<input type="text" name="###formValuesPrefix###[wt_calculating_captchafield]" />
	</div>
</div>
<!-- ###master_spamprotection-wt_calculating_captcha### -->

<!-- ###master_spamprotection-mathguard### -->
<div class="type-text">
###error_mathguard_answer###
	<label>###LLL:captcha### *</label>
	<div class="mathguard">	
		###MATHGUARD###
	</div>
</div>
<!-- ###master_spamprotection-mathguard### -->

<!-- ###master_spamprotection-timecheck### -->
<input type="hidden" name="###formValuesPrefix###[formtime]" value="###TIMESTAMP###" />
<!-- ###master_spamprotection-timecheck### -->

<!-- ###master_submit-disable### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="button submit ###validation-status###" value="###LLL:submit###" />
</div>
<!-- ###master_submit-disable### -->

<!-- ###master_ajax-submit### -->
<div class="type-button">
	###loading_ajax-submit###
	<input type="submit" ###submit_nextStep### class="button submit" value="###LLL:submit###" />
	<div class="clear"></div>
</div>
<!-- ###master_ajax-submit### -->

<!-- ###master_next### -->
<div class="type-button">
  <input type="submit" ###submit_nextStep### class="button submit" value="###LLL:next###" />
</div>
<!-- ###master_next### -->

<!-- ###master_prev### -->
<div class="type-button">
  <input type="submit" ###submit_prevStep### class="button submit" value="###LLL:prev###" />
</div>
<!-- ###master_prev### -->

<!-- ###master_form-start### -->
<form action="###REL_URL###" method="post" class="form-horizontal container-fluid" id="###fieldname###">
  ###HIDDEN_FIELDS###
  <h2>###LLL:label_fieldset###</h2>
<!-- ###master_form-start### -->

<!-- ###master_section_left-start### -->
<fieldset class="span6 left">
<!-- ###master_section_left-start### -->

<!-- ###master_section_right-start### -->
<fieldset class="span6 right">
<!-- ###master_section_right-start### -->

<!-- ###master_section-end### -->
</fieldset>
<!-- ###master_section-end### -->


<!-- ###master_input_addon_name### -->
<div class="control-group ###is_error_###fieldname######">
	<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>###error_###fieldname######</div>
	<div class="input-prepend">
		<span class="add-on"><i class="icon-user"></i></span>
		<input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######" rel="tooltip" title="###error_###fieldname######"/>
	</div>
</div>
<!-- ###master_input_addon_name### -->

<!-- ###master_input_addon_fon### -->
<div class="control-group ###is_error_###fieldname######">
	<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>###error_###fieldname######</div>
	<div class="input-prepend">
		<span class="add-on"><i class="icon-phone"></i></span>
		<input type="tel" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######" rel="tooltip" title="###error_###fieldname######"/>
	</div>
</div>
<!-- ###master_input_addon_fon### -->

<!-- ###master_input_addon_mail### -->
<div class="control-group ###is_error_###fieldname######">
	<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">&times;</button>###error_###fieldname######</div>
	<div class="input-prepend">
		<span class="add-on"><i class="icon-envelope"></i></span>
		<input type="email" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######" rel="tooltip" title="###error_###fieldname######"/>
	</div>
</div>
<!-- ###master_input_addon_mail### -->


<!-- ###master_input_addon_span### -->
<span class="add-on"><i class="###LLL:###fieldname######"></i></span>
<!-- ###master_input_addon_span### -->

<!-- ###master_input_addon_input_placeholder### -->
<input type="text" size="20" id="###fieldname###" name="###formValuesPrefix###[###fieldname###]" value="###value_###fieldname######" placeholder="###LLL:###fieldname###### ###required_###fieldname######"/>
<!-- ###master_input_addon_input_placeholder### -->


<!-- ###master_section_addon-start### -->
<div class="control-group">
	<div class="input-prepend">
<!-- ###master_section_addon-start### -->

<!-- ###master_section_addon-end### -->
	</div>
</div>
<!-- ###master_section_addon-end### -->