p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

div.alert {
	padding: 8px 35px 8px 14px;
	margin-bottom: 20px;
	color: #C09853;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

div.alert-error {
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #EED3D7;
}
div.alert-info {
	color: #3A87AD;
	background-color: #D9EDF7;
	border-color: #BCE8F1;
}
div.alert-success {
	color: #468847;
	background-color: #DFF0D8;
	border-color: #D6E9C6;
}

div.well {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: whiteSmoke;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

p.muted
span.muted {
	color: #999;
}

p.text-warning,
span.text-warning,
.text-warning {
	color: #C09853;
}

p.text-error,
span.text-error,
.text-error {
	color: #B94A48;
}

p.text-info,
span.text-info,
.text-info {
	color: #3A87AD;
}

p.text-success,
span.text-success,
.text-success {
	color: #468847;
}

div.pull-right,
p.pull-right {
	text-align: right;
}

span.label {
	display: inline-block;
	padding: 2px 4px;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px; // ensure proper line-height if floated
	color: #FFF;
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
	background-color: #e8e8e8;
	background-image: -moz-linear-gradient(top,#eee,#dfdfdf);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#dfdfdf));
	background-image: -webkit-linear-gradient(top,#eee,#dfdfdf);
	background-image: -o-linear-gradient(top,#eee,#dfdfdf);
	background-image: linear-gradient(to bottom,#eee,#dfdfdf);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdedede', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
span.label-gelb {
/*	color: #ECE7BD; */
	color: #555;
	background-color: #e9e4b3;
	background-image: -moz-linear-gradient(top,#ECE7BD,#e5dea5);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ECE7BD),to(#e5dea5));
	background-image: -webkit-linear-gradient(top,#ECE7BD,#e5dea5);
	background-image: -o-linear-gradient(top,#ECE7BD,#e5dea5);
	background-image: linear-gradient(to bottom,#ECE7BD,#e5dea5);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffece7bd', endColorstr='#ffe5dea5', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
span.label-gruen {
	color: #70884F;
	background-color: #6a804b;
	background-image: -moz-linear-gradient(top,#70884F,#607544);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#70884F),to(#607544));
	background-image: -webkit-linear-gradient(top,#70884F,#607544);
	background-image: -o-linear-gradient(top,#70884F,#607544);
	background-image: linear-gradient(to bottom,#70884F,#607544);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff70884f', endColorstr='#ff607443', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #D9D9D9;
}
span.label-petrol {
	color: #335E6B;
	background-color: #2f5763;
	background-image: -moz-linear-gradient(top,#335E6B,#294c56);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#335E6B),to(#294c56));
	background-image: -webkit-linear-gradient(top,#335E6B,#294c56);
	background-image: -o-linear-gradient(top,#335E6B,#294c56);
	background-image: linear-gradient(to bottom,#335E6B,#294c56);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff335e6b', endColorstr='#ff294b56', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #D9D9D9;
}
span.label-pflaume {
	color: #4D4B5D;
	background-color: #474656;
	background-image: -moz-linear-gradient(top,#4D4B5D,#3f3d4c);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#4D4B5D),to(#3f3d4c));
	background-image: -webkit-linear-gradient(top,#4D4B5D,#3f3d4c);
	background-image: -o-linear-gradient(top,#4D4B5D,#3f3d4c);
	background-image: linear-gradient(to bottom,#4D4B5D,#3f3d4c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d4b5d', endColorstr='#ff3e3d4c', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #CCC;
}
span.label-rot {
	color: #D73317;
	background-color: #cc3016;
	background-image: -moz-linear-gradient(top,#D73317,#bb2c14);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#D73317),to(#bb2c14));
	background-image: -webkit-linear-gradient(top,#D73317,#bb2c14);
	background-image: -o-linear-gradient(top,#D73317,#bb2c14);
	background-image: linear-gradient(to bottom,#D73317,#bb2c14);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd73317', endColorstr='#ffbb2c14', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #ebebeb;
}
span.label-rot-hell {
	color: #DB4622;
	background-color: #d04320;
	background-image: -moz-linear-gradient(top,#DB4622,#c13e1e);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#DB4622),to(#c13e1e));
	background-image: -webkit-linear-gradient(top,#DB4622,#c13e1e);
	background-image: -o-linear-gradient(top,#DB4622,#c13e1e);
	background-image: linear-gradient(to bottom,#DB4622,#c13e1e);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb4622', endColorstr='#ffc03d1d', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #ebebeb;
}
span.label-rot-matt {
	color: #BD4B51;
	background-color: #b6464c;
	background-image: -moz-linear-gradient(top,#BD4B51,#ab3f44);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#BD4B51),to(#ab3f44));
	background-image: -webkit-linear-gradient(top,#BD4B51,#ab3f44);
	background-image: -o-linear-gradient(top,#BD4B51,#ab3f44);
	background-image: linear-gradient(to bottom,#BD4B51,#ab3f44);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbd4b51', endColorstr='#ffaa3e44', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #ebebeb;
}
span.label-tuerkis {
	color: #65BDB5;
	background-color: #5cb9b1;
	background-image: -moz-linear-gradient(top,#65BDB5,#50b4ab);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#65BDB5),to(#50b4ab));
	background-image: -webkit-linear-gradient(top,#65BDB5,#50b4ab);
	background-image: -o-linear-gradient(top,#65BDB5,#50b4ab);
	background-image: linear-gradient(to bottom,#65BDB5,#50b4ab);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff65bdb5', endColorstr='#ff4fb3aa', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #26464f;
}
span.label-tuerkis-hell {
	color: #B6DEE1;
	background-color: #addadd;
	background-image: -moz-linear-gradient(top,#B6DEE1,#a0d4d8);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#B6DEE1),to(#a0d4d8));
	background-image: -webkit-linear-gradient(top,#B6DEE1,#a0d4d8);
	background-image: -o-linear-gradient(top,#B6DEE1,#a0d4d8);
	background-image: linear-gradient(to bottom,#B6DEE1,#a0d4d8);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb6dee1', endColorstr='#ffa0d4d8', GradientType=0);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 4px rgba(0,0,0,0.3);
	box-shadow: 0 0 4px rgba(0,0,0,0.3);
	color: #26464f;
}


