{namespace n=Tx_News_ViewHelpers}
<!--
	=====================
		Partials/List/Item.html
-->
<div class="article articletype-{newsItem.type} media">
	<n:excludeDisplayedNews newsItem="{newsItem}" />
	<!-- header -->
	<f:if condition="{newsItem.media}">
		<!-- media preview element -->
		<f:then>
			<span class="news-img-wrap pull-left">
				<n:link newsItem="{newsItem}" settings="{settings}">
					<f:if condition="{newsItem.mediaPreviews}">
						<f:then>
							<f:alias map="{mediaElement: newsItem.mediaPreviews.0}">
								<f:if condition="{mediaElement.type} == 0">
									<f:image
										src="uploads/tx_news/{mediaElement.image}"
										class="media-object" 
										title="{mediaElement.title}"
										alt="{mediaElement.alt}"
										maxWidth="{settings.list.media.image.maxWidth}"
										maxHeight="{settings.list.media.image.maxHeight}"
										/>
								</f:if>
								<f:if condition="{mediaElement.type} == 1">
									<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement}" />
								</f:if>
								<f:if condition="{mediaElement.type} == 2">
									<f:render partial="Detail/MediaHtml" arguments="{mediaElement: mediaElement}" />
								</f:if>
								<f:if condition="{mediaElement.type} == 3">
									<n:format.dam as="dam" uid="{mediaElement.uid}">
										<f:image src="{dam.file_path}{dam.file_name}" class="media-object"  title="{dam.title}" alt="{dam.alt_text}" maxWidth="{settings.detail.media.image.maxWidth}" />
									</n:format.dam>
								</f:if>
							</f:alias>
						</f:then>
						<f:else>
							<f:if condition="{settings.displayDummyIfNoMedia}">
							<span class="no-media-element">
									<f:image
										src="typo3conf/ext/news/Resources/Public/Images/dummy-preview-image.png"
										title=""
										alt=""
										class="media-object" 
										maxWidth="{settings.list.media.image.maxWidth}"
										maxHeight="{settings.list.media.image.maxHeight}"
										/>
							</span>
							</f:if>
						</f:else>
					</f:if>
				</n:link>
			</span>
		</f:then>
		<f:else>
			<f:if condition="{settings.displayDummyIfNoMedia}">
				<f:then>
					<span class="news-img-wrap pull-left">
						<n:link newsItem="{newsItem}" settings="{settings}">
							<span class="no-media-element">
								<f:image
									src="typo3conf/ext/news/Resources/Public/Images/dummy-preview-image.png"
									title=""
									alt=""
									class="media-object" 
									maxWidth="{settings.list.media.image.maxWidth}"
									maxHeight="{settings.list.media.image.maxHeight}"
									/>
							</span>
						</n:link>
					</span>
				</f:then>
			</f:if>
		</f:else>
	</f:if>
	<!-- footer information -->
	<div class="footer">
		<p>
			<f:comment>
			<!-- date -->
			<span class="label label-tuerkis-hell news-list-date pull-right">
				<f:format.date format="d.m.Y">{newsItem.datetime}</f:format.date>
			</span>
			</f:comment>
			<f:if condition="{newsItem.firstCategory}">
				<!-- first category -->
				<span class="news-list-category">{newsItem.firstCategory.title}</span>
			</f:if>

			<f:if condition="{newsItem.tags}">
				<!-- Tags -->
				<span class="news-list-tags">
				<f:for each="{newsItem.tags}" as="tag">
					{tag.title}
				</f:for>
				</span>
			</f:if>


			<!-- author -->
			<f:if condition="{newsItem.author}">
				<span class="news-list-author">
					<f:translate key="author" arguments="{0:newsItem.author}" />
				</span>
			</f:if>
		</p>
	</div>
	<div class="media-body">
		<h3 class="media-heading">
			<n:link newsItem="{newsItem}" settings="{settings}">
				{newsItem.title}
			</n:link>
		</h3>
	</div>
	<!-- teas=ser text -->
	<div class="teaser-text">
		<f:if condition="{newsItem.teaser}">
			<f:then>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.teaser}</f:format.crop></f:format.html>
			</f:then>
			<f:else>
				<f:format.html><f:format.crop maxCharacters="{settings.cropMaxCharacters}" respectWordBoundaries="1">{newsItem.bodytext}</f:format.crop></f:format.html>
			</f:else>
		</f:if>
		<n:link newsItem="{newsItem}" settings="{settings}" class="btn btn-small">Weiterlesen <i class="icon icon-chevron-right"></i></n:link>
	</div>

	
</div>
