/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) YAML core stylesheet
 * (de) YAML Basis-Stylesheet
 *
 * Don't make any changes in this file!
 * Your changes should be placed in any css-file in your own stylesheet folder.
 *
 * @copyright       Copyright 2005-2010, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.3
 * @revision        $Revision: 480 $
 * @lastmodified    $Date: 2010-10-12 21:56:55 +0200 (Di, 12 Okt 2010) $
 */

@media screen
{
  option { padding-left:0.4em; }
  select { padding:1px; }

  fieldset { border:0 solid; }

  .subcolumns { display:table; width:100%; table-layout:fixed; }

  .c20l, .c25l, .c33l, .c40l, .c38l, .c50l, .c60l, .c62l, .c66l, .c75l, .c80l { float:left; }
  .c20r, .c25r, .c33r, .c40r, .c38r, .c50r, .c60r, .c66r, .c62r, .c75r, .c80r { float:right; margin-left:-5px; }

  .c20l, .c20r { width:20%; }
  .c40l, .c40r { width:40%; }
  .c60l, .c60r { width:60%; }
  .c80l, .c80r { width:80%; }
  .c25l, .c25r { width:25%; }
  .c33l, .c33r { width:33.333%; }
  .c50l, .c50r { width:50%; }
  .c66l, .c66r { width:66.666%; }
  .c75l, .c75r { width:75%; }
  .c38l, .c38r { width:38.2%; }
  .c62l, .c62r { width:61.8%; }

  .subc  { padding:0 0.5em; }
  .subcl { padding:0 1em 0 0; }
  .subcr { padding:0 0 0 1em; }

  .equalize, .equalize .subcolumns { table-layout:fixed; }

  .equalize > div {
    display:table-cell;
    float:none; 
    margin:0; 
    overflow:hidden;
    vertical-align:top;
  }
  
  .Tx-Formhandler .control-group input {
  	margin-bottom: 0;
  }
  
  .Tx-Formhandler .control-group textarea {
  	resize: none;
  }

  .Tx-Formhandler .left .control-group input[type="text"],
  .Tx-Formhandler .left .control-group input[type="email"],
  .Tx-Formhandler .left .control-group input[type="tel"],
  .Tx-Formhandler .left .control-group .input-prepend label.uneditable-input {
    width: 90%;
    cursor: auto;
  }

  .Tx-Formhandler .control-group textarea,
  .Tx-Formhandler .right .control-group input[type="text"] {
    width: 97%;
  }

  .Tx-Formhandler .control-group .input-append .add-on,
  .Tx-Formhandler .control-group .input-prepend .add-on {
    min-width: 3%;
    padding: 4px 2%;
    font.size: 10pt;
  }
  
}
