{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="FCE" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_accordion" label="TROTZDEM e.V.: Accordion für Inhaltselemente" description="@todo: hier eine Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">

		<flux:flexform.sheet name="panels" label="Panels">
			<flux:flexform.section name="panels" label="Panels">
				<flux:flexform.object name="panel" label="Panel">
					<flux:flexform.field.input name="title" label="Paneltitel" />
					<flux:flexform.field.input name="class" label="Zusätzliche CSS Klasse" />
					<flux:flexform.field.checkbox name="active" label="Geöffnet?" />
					<flux:flexform.field.select name="background" label="Hintergrund" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)',}"/>
				</flux:flexform.object>
			</flux:flexform.section>
		</flux:flexform.sheet>

		<flux:flexform.grid>
			<f:for each="{panels}" as="panel" iteration="iteration">
				<flux:flexform.grid.row>
					<flux:flexform.grid.column>
						<flux:flexform.content name="content.{iteration.index}" label="Content, panel {iteration.cycle}" />
					</flux:flexform.grid.column>
				</flux:flexform.grid.row>
			</f:for>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	<flux:widget.grid />
</f:section>

<f:section name="Main">
<v:var.set name="activeTabIndex" value="9999" />
<f:for each="{panels}" as="panel" iteration="iteration">
	<f:if condition="{panel.panel.active}"><v:var.set name="activeTabIndex" value="{iteration.index}" /></f:if>
</f:for>

<div class="accordion" id="accordion-{record.uid}">
	<f:for each="{panels}" as="panel" iteration="iteration">
		<div class="accordion-group {panel.panel.background}">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{record.uid}" href="#panel-{record.uid}-{iteration.index}">{panel.panel.title} <i class="icon icon-plus-sign pull-right"></i></a>
			</div>
			<div id="panel-{record.uid}-{iteration.index}" class="collapse accordion-body {f:if(condition: '{activeTabIndex} == {iteration.index}', then: 'in')}">
				<div class="accordion-inner">
					<flux:flexform.renderContent area="content.{iteration.index}" />
				</div>
			</div>
		</div>
	</f:for>
</div>
<v:asset.script name="collapse" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-collapse.js', extensionName: 'trotzdem_template')}" />
</f:section>

</div>