{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_contact_person" label="TROTZDEM e.V.: Ansprechpartner" description="@todo: hier eine Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.section name="persons" label="Personen">
			<flux:flexform.object name="person" label="Person">
				<flux:flexform.field.input name="name" label="Name" />
				<flux:flexform.field.input name="description" label="Beschreibung" />
				<flux:flexform.field.input name="email" label="E-Mail" />
				<flux:flexform.field.input name="image" label="Bild" eval="trim">
					<flux:flexform.field.wizard.link label="Select image" />
				</flux:flexform.field.input>
			</flux:flexform.object>
		</flux:flexform.section>
	</flux:flexform>
</f:section>

<f:section name="Main">
<ul class="media-list contact-person">
	{persons -> f:debug() -> f:comment()}
	<f:for each="{persons}" as="sectionObject" iteration="iteration">
	<li class="media">
		<f:if condition="{sectionObject.person.image}">
			<span class="pull-left">
				<v:media.image src="{sectionObject.person.image}" width="65c" height="85c"  title="{sectionObject.person.name}" alt="Foto: {sectionObject.person.name}" class="media-object" />
			</span>
		</f:if>
		<div class="media-body">
			<h4 class="media-heading">{sectionObject.person.name}</h4>
			<em>{sectionObject.person.description}</em>
			<f:if condition="{sectionObject.person.email}">
				<f:link.email email="{sectionObject.person.email}" title="Kontakt"><i class="icon icon-envelope"></i></f:link.email>
			</f:if>
		</div>
	</li>
	</f:for>
</ul>


<f:comment>
	<div class="row">
		<f:for each="{columns}" as="sectionObject" iteration="iteration">
			<div class="{sectionObject.column.class}">
				<f:if condition="{sectionObject.column.addWell}">
					<f:then>
						<div class="well{f:if(condition: '{sectionObject.column.background}', then: ' {sectionObject.column.background}')}{f:if(condition: '{sectionObject.column.roundedCorner}', then: ' roundedCorner')}">
							<flux:flexform.renderContent area="column{iteration.cycle}" />
						</div>
					</f:then>
					<f:else>
						<flux:flexform.renderContent area="column{iteration.cycle}" />
					</f:else>
				</f:if>
			</div>
		</f:for>
	</div>
</f:comment>
</f:section>

<f:section name="Preview">
	
</f:section>

</div>
