{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_button_link" label="TROTZDEM e.V.: Buttonlink" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.field.input name="target">
			<flux:flexform.field.wizard.link />
		</flux:flexform.field.input>
		<flux:flexform.field.input name="text" />
		<flux:flexform.field.checkbox name="tooltip" />
		<flux:flexform.field.input name="title" />
		<flux:flexform.field.input name="iconClass" />
		<flux:flexform.field.select name="iconPlacement" items="{0: '',1: 'left',2: 'right'}"/>
		<flux:flexform.field.select name="size" items="default,mini,small,large" size="1" maxItems="1" />
		<flux:flexform.field.checkbox name="block" />
		<flux:flexform.field.select name="background" label="Hintergrund" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)',}" maxItems="1" />
		<flux:flexform.field.input name="additionalClassNames" />
		<flux:flexform.field.select name="wrapTag" items="none,span,p,div,dt,dd,fieldset" />
		<flux:flexform.sheet name="addons">
			<flux:flexform.section name="addons">
				<flux:flexform.object name="popover">
					<flux:flexform.field.input name="title" />
					<flux:flexform.field.input name="content" />
				</flux:flexform.object>
				<flux:flexform.object name="modal">
					<flux:flexform.field.input name="title" />
						<flux:flexform.field.relation name="content" table="tt_content">
						<flux:flexform.field.wizard.add table="tt_content" />
						<flux:flexform.field.wizard.edit />
					</flux:flexform.field.relation>
				</flux:flexform.object>
			</flux:flexform.section>
		</flux:flexform.sheet>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	Twitter Button: {text}, size: {size}, class: {class}
</f:section>

<f:section name="Main">
	<f:if condition="{0: wrapTag} != {0: 'none'}">
		<f:then>
			<{wrapTag} class="button-wrap">
				<f:render section="Button" arguments="{_all}" />
			</{wrapTag}>

		</f:then>
		<f:else>
			<f:render section="Button" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="Button">
{addons -> f:debug() -> f:comment()}
	<f:if condition="{target -> v:math.round()} > 0">
		<f:then>
			{f:render(section: 'Addons', arguments:{addons: addons}) -> v:var.set(name: 'addon')}
			<f:link.page pageUid="{target}" class="btn btn-{size}  {additionalClassNames}{f:if(condition: block, then: ' btn-block')}{f:if(condition: '{background}', then: ' {background}')}" rel="{f:if(condition: tooltip, then: 'tooltip')}" additionalAttributes="{data-toggle: '{addon}'}" title="{title}">
				<f:render section="Text" arguments="{_all}" />
			</f:link.page>
		</f:then>
		<f:else>
			{f:render(section: 'Addons', arguments:{addons: addons}) -> v:var.set(name: 'addon')}
			<a href="{target}" class="btn btn-{size} btn-{class} {additionalClassNames}" <f:if condition="{addons}" then="data-toggle='{addon}'" />  rel="{f:if(condition: tooltip, then: 'tooltip')}{f:if(condition: popover, then: 'popover')}" title="{title}">
				<f:render section="Text" arguments="{_all}" />
			</a>
		</f:else>
	</f:if>
</f:section>

<f:section name="Text">
	<f:if condition="{iconClass}"><f:if condition="{iconPlacement} = 1"><f:else><i class="icon icon-{iconClass}"></i></f:else></f:if></f:if>
	{text}
	<f:if condition="{iconClass}"><f:if condition="{iconPlacement} = 2"><f:then><i class="icon icon-{iconClass}"></i></f:then></f:if></f:if>
</f:section>

<f:section name="Addons"><f:for each="{addons}" as="itemSectionObjects" iteration="iteration">{itemSectionObjects -> f:debug(title: 'itemSectionObjects') -> f:comment()}<f:for each="{itemSectionObjects}" as="object" key="objectType" iteration="objectsIterator">{object -> f:debug(title: 'object {iteration.cycle}') -> f:comment()}{objectType -> f:debug(title: 'objectType') -> f:comment()}<v:switch value="{objectType}"><v:case case="popover" break="TRUE">popover</v:case><v:case case="{modal}" break="TRUE">modal</v:case></v:switch></f:for></f:for></f:section>

</div>
