{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_row" label="TROTZDEM e.V.: Mehrspalten-Teaser" description="@todo: hier eine Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.field.checkbox name="basic" label="Basic (non-responsive) row, uses CSS class 'row' instead of 'row-fluid'" />
		<flux:flexform.field.input name="topMargin" label="Top margin in % for this element" default="0" minimum="0" maximum="50" eval="int,trim">
			<flux:Flexform.field.wizard.slider hideParent="TRUE" width="200" />
		</flux:flexform.field.input>
		<flux:flexform.section name="columns" label="Columns">
			<flux:flexform.object name="column" label="Column">
				<flux:flexform.field.select name="class" label="Breite" default="span12" items="{span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten', span7: '7 von 12 Spalten', span8: '8 von 12 Spalten', span9: '9 von 12 Spalten', span10: '10 von 12 Spalten', span11: '11 von 12 Spalten', span12: '12 von 12 Spalten'}" maxItems="1" />
				<flux:flexform.field.select name="offset" label="Versatz" default="span0" items="{span0: '',span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten', span7: '7 von 12 Spalten', span8: '8 von 12 Spalten', span9: '9 von 12 Spalten', span10: '10 von 12 Spalten', span11: '11 von 12 Spalten', span12: '12 von 12 Spalten'}" maxItems="1" />
				<flux:flexform.field.checkbox name="addWell" label="Als Teaser anzeigen" />
				<flux:flexform.field.select name="background" label="Hintergrund" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)',}" maxItems="1" />
				<flux:flexform.field.checkbox name="roundedCorner" label="Ecke (unten rechts) rund?" />
			</flux:flexform.object>
		</flux:flexform.section>
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<f:for each="{columns}" as="sectionObject" iteration="iteration">
					<v:var.set name="width" value="{sectionObject.column.class -> v:format.substring(start: 4)}" />
					<v:var.set name="percent" value="{width -> v:math.division(b: 12) -> v:math.product(b: 100) -> v:math.round(decimals: 2)}" />
					<v:var.set name="offset" value="{sectionObject.column.offset -> v:format.substring(start: 4)}" />
					<v:var.set name="offsetPercent" value="{offset -> v:math.division(b: 12) -> v:math.product(b: 100) -> v:math.round(decimals: 2)}" />
					<flux:flexform.grid.column style="width: {percent}%">
						<flux:flexform.content name="column{iteration.cycle}" label="{f:if(condition: '{offset} != 0', then: '{percent}% (+ {offsetPercent}%)', else: '{percent}%')}, Farbe: {sectionObject.column.background}" />
					</flux:flexform.grid.column>
				</f:for>
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Main">
	<div class="row{f:if(condition: basic, else: '-fluid')} row-{record.uid}">
		<f:for each="{columns}" as="sectionObject" iteration="iteration">
			<v:var.set name="offset" value="{sectionObject.column.offset -> v:format.substring(start: 4)}" />
			<div class="{sectionObject.column.class}{f:if(condition: '{offset} != 0', then: ' offset{offset}')}">
				<f:if condition="{sectionObject.column.addWell}">
					<f:then>
						<div class="well{f:if(condition: '{sectionObject.column.background}', then: ' {sectionObject.column.background}')}{f:if(condition: '{sectionObject.column.roundedCorner}', then: ' roundedCorner')}">
							<flux:flexform.renderContent area="column{iteration.cycle}" />
						</div>
					</f:then>
					<f:else>
						<flux:flexform.renderContent area="column{iteration.cycle}" />
					</f:else>
				</f:if>
			</div>
		</f:for>
	</div>

<v:asset.style name="fluidRowTopMargin{record.uid}" standalone="1" fluid="1" arguments="{topMargin: topMargin}">
.row-{record.uid} {
	<v:format.plaintext>margin-top: {topMargin}%;</v:format.plaintext>
}
</v:asset.style>
</f:section>

<f:section name="Preview">
	{f:if(condition: topMargin, then: 'Top margin: {topMargin}%')}
	<flux:widget.grid />
</f:section>

</div>
