{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="FCE" />

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_image_slider" label="TROTZDEM e.V.: Image Slider" description="@todo: Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.sheet name="slider-items" label="Slides">
			<flux:flexform.section name="slides" label="Items">
				<f:render section="sliderItem" arguments="{_all}" />
			</flux:flexform.section>
		</flux:flexform.sheet>
		<flux:flexform.sheet name="slider-settings" label="Slider Settings">
			<flux:flexform.field.input name="width" label="Bildbreite" />
			<flux:flexform.field.input name="height" label="Bildhöhe" />
			<flux:flexform.field.input name="animSpeed" label="Tempo (in ms)" />
			<flux:flexform.field.input name="pauseTime" label="Dauer je Slide (in ms)" />
			<flux:flexform.field.select name="effect" label="Effekt" default="fade" items="{fade: 'fade', slideDown: 'slideDown'}" maxItems="1" />
			<flux:flexform.field.select name="class" label="Breite im Raster" default="span12" items="{span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten', span7: '7 von 12 Spalten', span8: '8 von 12 Spalten', span9: '9 von 12 Spalten', span10: '10 von 12 Spalten', span11: '11 von 12 Spalten', span12: '12 von 12 Spalten'}" maxItems="1" />
		</flux:flexform.sheet>
	</flux:flexform>
</f:section>

<f:section name="sliderItem">
	<flux:flexform.object name="slider-item" label="Slide">
		<flux:flexform.field.input name="headline" label="Headline" />
		<flux:flexform.field.text name="subline" label="Subline" />
		<flux:flexform.field.file name="image" allowed="png,gif" label="Image"/>
	</flux:flexform.object>
</f:section>

<f:section name="Preview">
	<table style="width:100%;" class="typo3-dblist">
		<tbody>
			<f:for each="{slides}" as="itemSectionObjects" iteration="iteration">
				<f:for each="{itemSectionObjects}" as="object" key="objectType">
					<v:switch value="{objectType}">
						<v:case case="slider-item" break="TRUE">
							<tr class="{f:if(condition: iteration.isEven, then: 'bgColor3', else: 'bgColor4')}">
								<td style="font-weight: bold; width: 23%;">Slide #{iteration.cycle}</td>
								<td style="width: 76%;">{object.headline}</td>
							</tr>
						</v:case>
					</v:switch>
				</f:for>
			</f:for>
		</tbody>
	</table>
</f:section>

<f:section name="Main">
{_all -> f:debug() -> f:comment()}
	<div id="slider" class="row-fluid">
		<div class="slider-wrapper theme-light {class}">
			<div class="ribbon">
			</div>
			<div id="nivoSlider-{record.uid}" class="nivoSlider" >
				<f:for each="{slides}" as="itemSectionObjects" iteration="iteration">
					<f:for each="{itemSectionObjects}" as="object" key="objectType">
						<v:media.image src="{object.image}" width="{width}" height="{height}"  title="{object.headline}" alt="{object.headline}" />
					</f:for>
				</f:for>
			</div>
		</div>
	</div>

	<v:asset.script name="nivoSlider" group="trotzdem" dependencies="jquery" standalone="0" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/NivoSlider/jquery.nivo.slider.pack.js', extensionName: 'trotzdem_template')}" />
	<v:asset.style name="nivoSliderCss" group="trotzdem" path="{f:uri.resource(path: 'thirdparty/NivoSlider/nivo-slider.css', extensionName: 'trotzdem_template')}" />
	
	<v:asset.style name="nivoSliderCssLight" group="thirdParty" standalone="0" path="{f:uri.resource(path: 'thirdparty/NivoSlider/themes/light/light.css', extensionName: 'trotzdem_template')}" />
	<v:asset.script name="nivoSliderInit-{record.uid}" allowMoveToFooter="1" standalone="0"  dependencies="nivoSlider" >
		<v:format.plaintext>$(window).load(function() {</v:format.plaintext>
			<v:format.plaintext>$("#nivoSlider-{record.uid}").nivoSlider({</v:format.plaintext>
				<f:if condition="{animSpeed}" then="animSpeed: {animSpeed},"/>
				<f:if condition="{pauseTime}" then="pauseTime: {pauseTime},"/>
				<f:if condition="{effect}" then="effect: '{effect}'" else="effect: 'fade'"/>
			<v:format.plaintext>});</v:format.plaintext>
		<v:format.plaintext>});</v:format.plaintext>
	</v:asset.script>

</f:section>

</div>



