{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="FCE" />

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
		 xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
		 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_jcarousel" label="TROTZDEM e.V.: Kleines Carousel" description="@todo: Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.sheet name="carousel" label="Carousel">
			<flux:flexform.section name="elements" label="Elements">
				<f:render section="Elements" arguments="{_all}" />
			</flux:flexform.section>
		</flux:flexform.sheet>
		<flux:flexform.sheet name="carousel-settings" label="Carousel Settings">
			<f:render section="Carousel" arguments="{_all}" />
		</flux:flexform.sheet>
	</flux:flexform>
</f:section>

<f:section name="Elements">
	<flux:flexform.object name="element" label="Element">
		<flux:flexform.field.file name="image" allowed="png,gif" label="Image"/>
		<flux:flexform.field.input name="caption" label="Caption" />
				<flux:flexform.field.input name="link" label="Link" eval="trim">
			<flux:flexform.field.wizard.link label="Link" />
		</flux:flexform.field.input>
	</flux:flexform.object>
</f:section>

<f:section name="Carousel">
	<flux:flexform.field.input name="carouselHeight" label="Carousel height, default: 60" />
	<flux:flexform.field.select name="class" label="Carousel element width" default="span3" items="{span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten'}" maxItems="1" />
	<flux:flexform.field.input name="animSpeed" label="Animation speed in ms, default: 200" />
</f:section>

<f:section name="Preview">
	<table style="width:100%; margin-top: 15px;" class="typo3-dblist">
		<tbody>
			<f:for each="{elements}" as="elementSectionObject" iteration="iteration">
				<f:for each="{elementSectionObject}" as="object" key="objectType">
					<v:switch value="{objectType}">
						<v:case case="element" break="TRUE">
							<tr class="{f:if(condition: iteration.isEven, then: 'bgColor3', else: 'bgColor4')}">
								<td style="width: 23%;" rowspan="2">{v:media.image(src: object.image, width: '140c', height: '50', title: object.caption, alt: object.caption)}</td>
								<td style="font-weight: bold; width: 76%;">Element #{iteration.cycle}</td>
							</tr>
							<tr class="{f:if(condition: iteration.isEven, then: 'bgColor3', else: 'bgColor4')}">
								<td style="width: 76%;">{object.caption}</td>
							</tr>
						</v:case>
					</v:switch>
				</f:for>
			</f:for>
		</tbody>
	</table>
</f:section>

<f:section name="Main">
{_all -> f:debug() -> f:comment()}
<div class="carousel jcarousel" id="carousel-{record.uid}">
	<div class="carousel-inner">
		<div class="item active">
			<div class="row">
				<f:for each="{elements}" as="elementSectionObjects" iteration="iteration">
					<f:for each="{elementSectionObjects}" as="object" key="objectType">
						{object -> f:debug(title: 'object #{iteration.index} – jCarousel.html')  -> f:comment()}
						<div class="carouselElement {class}">
							<div class="thumbnail">
								{v:media.image(src: object.image, height: '50', title: object.caption, alt: object.caption) -> f:link.external(uri: object.link, target: '_blank', title: object.caption)}
							</div>
						</div>
					</f:for>
				</f:for>
			</div>
		</div>
	</div>
	<a data-slide="prev" href="#carousel-{record.uid}" class="hide left carousel-control"><i class="icon-circle-arrow-left"></i></a>
	<a data-slide="next" href="#carousel-{record.uid}" class="hide right carousel-control"><i class="icon-circle-arrow-right"></i></a>
</div>

<v:asset.style name="jCarouselCSS">
.jcarousel {
	height: <f:if condition="{carouselHeight}" then="{carouselHeight}" else="60" />px;
	overflow: hidden;
	margin-bottom: 0;
}
.carousel-control {
	position: absolute;
	top: 60%;
	left: 15px;
	width: 20px;
	height: 20px;
	margin-top: -20px;
	font-weight: 100;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background: #888;
	border: 3px solid #fff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.carousel-control {
	font-size: 20px;
	font-weight: 100;
	line-height: 24px;
	color: #fff;
	text-align: center;
	border: 0;
	color: #222;
	background: transparent;
}

.carousel-control:hover {
	color: #D73317;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.jcarousel .thumbnail {
	border: 0;
	box-shadow: 0 0 0 #FFF;
	-webkit-box-shadow: 0 0 0 #FFF;
	opacity: 0.4;
	filter: alpha(opacity=40);
	text-align: center;
	vertical-align: middle;
}

.jcarousel .thumbnail:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
</v:asset.style>
<v:asset.script name="transition" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-transition.js', extensionName: 'trotzdem_template')}" />
<v:asset.script name="carousel" dependencies="jquery" standalone="0" group="bootstrap" allowMoveToFooter="1" trim="1" path="{f:uri.resource(path: 'thirdparty/bootstrap/js/bootstrap-carousel.js', extensionName: 'trotzdem_template')}" />
<v:asset.script name="jCarousel">
;(function($) {
	var _next, _prev;

	/* lets safely prototype the next/prev function to allow for this solution to withstand upgrades in TB
	=====================================================*/
	_next = $.fn.carousel.Constructor.prototype.next;
	_prev = $.fn.carousel.Constructor.prototype.prev;
	
	$.fn.carousel.Constructor.prototype.next = function() {
		this.$element.trigger('pln.next');
		return _next.call(this);
	};
	
	$.fn.carousel.Constructor.prototype.prev = function() {
		this.$element.trigger('pln.prev');
		return _prev.call(this);
	};

})(jQuery);
</v:asset.script>

<v:asset.script name="jCarouselInit-{record.uid}" dependencies="jCarousel">
;(function($) {

	/* in short we simply cloned the TB function and triggered our own custom event to allow us to bind in our own logic jQuery style
	=====================================================*/
	$('div.carousel.jcarousel').each(function() {

		/* we are only interested in .jcarousel optioned carousel */
		/* create our variables safely in local scope */
		var item_width, stop_pos, total_items, total_width, visible_items, visible_width, _carousel, _slider;
 
		_carousel = $(this); /* lets jQuerify our carousel */
		
		/**
		 * Gather some dimensions for our next/prev events to be able to calculate the correct carousel movements
		 * total_items = the count how many items we have in the carousel window to move. 
		 *                 Note: that we are counting the spanX in the carousel.
		 * item_width = the width of the first spanX. We are going to assume that all items are created of equal width. 
		 *                 (this could be extended to handle multiple widths but it would change the dynamics of the movement to more a per click algorithm instead of global on init like this)
		 * total_width = the total width of the carousel items
		 *                  (since our CSS uses an arbitary width on the .item.active in the carousel of 20000em we need to get the real dimensions to shrink it down to is actual size. 
		 *                     If not the next/prev would not function correctly)
		 * visible_items = how many items do we see at one time in our viewport
		 * stop_pos = our viewport width will act as a stop position when we reach the last of the items that are visible
		 * _slider = the jQuery object which we animate left/right as user clicks the next/prev. This is a performance variable since if we did not create it then you would have to $(..) the
		 *             node at every click of next/prev. We also set the .data('to') property to 0 at this point since we want to prevent .animate queue mishaps of people rapidly clicking 
		 *             either prev/next
		 * 
		 */
		total_items = _carousel.find('div[class*=span]').length;
		item_width = _carousel.find('div[class*=span]:first').outerWidth(true);
		total_width = item_width * total_items;
		_carousel.find('.item:first').width(total_width); /* lets shrink the actual container to it's real size */
		visible_items = Math.round(_carousel.find('.carousel-inner').width() / item_width);	
		visible_width = visible_items * item_width;
		stop_pos = visible_width - total_width;
		_slider = _carousel.find('.item:first');
		_slider.data('to', 0);
	 
		/* Event binding
		 * ======================*/
		/* Since we have created our own events that get fired first and then return back to the Bootstrap Carousel original methods 
		 *  we now have complete control of what happens when people click next/prev.. safely.
		 */
		 _carousel.carousel('pause').on({
			'pln.prev': function() { 
					/* Event: User has clicked prev ( wanting to go back and item )
					 *  - we need to check a few things to ensure that we can indeed advance our carousel.
					 *    1. Is the carousel back at the starting position ( .position().left < 0 )
					 *    2. Since we animate we want to make sure the carousel is not animating or already in motion. 
					 *       * Originally I did use the $(..).is(':animated') but since Twitter Bootstrap uses it's own $.Event method I was getting 
					 *         some wierd results from that and chose to use my own logic for when the slider was not moving
					 */
				if (_slider.position().left < 0 && _slider.position().left === _slider.data('to')) { 
					_slider.data('to', _slider.position().left + item_width); /* lets set the .data('to') property to the final value so we can check if the carousel is at it's final destination before moving it again */
					_slider.animate({
						left: "+=" + item_width + "px"
					}, <f:if condition="{animSpeed}" then="{animSpeed}" else="200"/>); /* lets move the slider */
				}
				return false;
			},
			/**
			 * Same logic as pln.prev but the math is different cause we are going in the other direction
			 */
			'pln.next': function() {
				if (_slider.position().left > stop_pos && _slider.position().left === _slider.data('to')) {
					_slider.data('to', _slider.position().left - item_width);
					_slider.animate({
						left: "-=" + item_width + "px"
					}, <f:if condition="{animSpeed}" then="{animSpeed}" else="200" />);
				}
				return false;
			}
		});
	});
})(jQuery);
</v:asset.script>
</f:section>

</div>










