{namespace fed=Tx_Fed_ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_contactbox" label="TROTZDEM e.V.: Kontakt-Box" description="@todo: hier eine Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.sheet name="address" label="Address">
			<flux:flexform.field.input name="phone" label="Telefon"/>
			<flux:flexform.field.input name="email" label="E-Mail" />
			<flux:flexform.field.input name="title" label="Adresstitel" required="1" />
			<flux:flexform.field.input name="street" label="Straße & Nr" required="1" />
			<flux:flexform.field.input name="city" label="PLZ & Ort" required="1" />
		</flux:flexform.sheet>
		<flux:flexform.sheet name="options" label="Options">
			<flux:flexform.field.checkbox name="renderMap" label="Google-Maps Karte anzeigen?"  />
			<flux:flexform.field.input name="zoom" label="Zoom Level der Google Maps Karte (1 - 17)" required="1" />
			<flux:flexform.field.select name="class" label="Breite im Raster" default="0" items="{0: 'keine', span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten', span7: '7 von 12 Spalten', span8: '8 von 12 Spalten', span9: '9 von 12 Spalten', span10: '10 von 12 Spalten', span11: '11 von 12 Spalten', span12: '12 von 12 Spalten'}" maxItems="1" />
		</flux:flexform.sheet>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	<table>
		<tr>
			<td><strong>Telefon:</strong></td>
			<td>{phone}</td>
		</tr>
		<tr>
			<td><strong>GM Karte zeigen:</strong></td>
			<td><f:if condition="{renderMap}" then="Ja" else="Nein" /></td>
		</tr>
		<tr>
			<td><strong>Adresse:</strong></td>
			<td>{title}<br>{street}<br>{city}</td>
		</tr>
	</table>
</f:section>

<f:section name="Main">
<div class="kontakt-box rot{f:if(condition: '{class} != 0',then: ' {class}')}">
	<h2 class="title">KONTAKT</h2>
	<p class="phone">{phone}</p>
	<div class="map">
		<div id="map-{record.uid}" class="inner"></div>
	</div>
	<address>
		<strong>{title}</strong><br>
		{street}<br>
		{city}<br>
	</address>
	<div class="icons">
		<f:link.email email="{email}"><i class="icon-envelope icon"></i></f:link.email>
		<f:link.page pageUid="15"><i class="icon-map-marker icon"></i></f:link.page>
	</div>
	<f:render section="assets" arguments="{record: record, street: street, city: city, zoom: zoom, iteration: iteration}" />
</div>
</f:section>

<f:section name="assets">
<v:asset.script name="google-maps-api" path="https://maps.google.com/maps/api/js?sensor=false" external="1" standalone="1" allowMoveToFooter="1" />
<v:asset.script name="goMap" group="thirdParty" path="{f:uri.resource(path: 'thirdparty/goMap/js/jquery.gomap-1.3.2.min.js', extensionName: 'trotzdem_template')}" external="0" dependencies="jquery,google-maps-api" allowMoveToFooter="1" />
<v:asset.script name="goMapInit-{record.uid}" group="thirdParty" dependencies="jquery,goMap" allowMoveToFooter="1" standalone="0" >
	<v:format.plaintext>;$(function() {</v:format.plaintext>
		<v:format.plaintext>$("#map-{record.uid}").goMap({</v:format.plaintext>
			<v:format.plaintext>address: '{street},{city},Germany',</v:format.plaintext>
			<v:format.plaintext>navigationControl: false,</v:format.plaintext>
			<v:format.plaintext>zoom: {zoom},</v:format.plaintext>
			<v:format.plaintext>oneInfoWindow: false,</v:format.plaintext>
			<v:format.plaintext>mapTypeControl: false,</v:format.plaintext>
			<v:format.plaintext>maptype: 'ROADMAP',</v:format.plaintext>
			<v:format.plaintext>markers: [{address: '{street},{city},Germany',icon: '{f:uri.resource(path: 'images/poi-marker.png', extensionName: 'trotzdem_template')}'}]</v:format.plaintext>
		<v:format.plaintext>});</v:format.plaintext>
		var center;

		function calculateCenter() {
			center = $.goMap.map.getCenter();
		}

		google.maps.event.addDomListener($.goMap.map, 'idle', function() {
			calculateCenter();
		});

		google.maps.event.addDomListener(window, 'resize', function() {
			$.goMap.map.setCenter(center);
		});
	<v:format.plaintext>});</v:format.plaintext>
</v:asset.script>
</f:section>