{namespace fed=Tx_Fed_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}

<f:layout name="FCE" />

<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="bootstrap_well" label="TROTZDEM e.V: Teaser" description="@todo: hier eine Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.field.select name="width" label="Breite" default="span12" items="{span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten', span7: '7 von 12 Spalten', span8: '8 von 12 Spalten', span9: '9 von 12 Spalten', span10: '10 von 12 Spalten', span11: '11 von 12 Spalten', span12: '12 von 12 Spalten'}"/>
		<flux:flexform.field.select name="background" label="Hintergrund" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)'}"/>
		<flux:flexform.field.select name="visibility" label="Sichtbar für" default="all" items="{all: 'Überall', hidden-desktop: 'Mobil', visible-desktop: 'Desktops', visible-phone: 'Telefone', visible-tablet: 'Tablets'}"/>
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column>
					<flux:flexform.content name="content" label="Teaserinhalt" />
				</flux:flexform.grid.column>
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform>
</f:section>

<f:section name="Preview">
	Teaser color: {background}
	<flux:widget.grid />
</f:section>

<f:section name="Main">
	<div class="well{f:if(condition: '{background} !== transparent', then: ' {background}')}{f:if(condition: '{visibility} !== übreall', then: ' {visibility}')}{f:if(condition: '{width}', then: ' {width}')}">
		<flux:flexform.renderContent area="content" />
	</div>
</f:section>