{namespace v=Tx_Vhs_ViewHelpers}
{namespace flux=Tx_Flux_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<!-- Deklaration der BackEnd Konfigurationsfelder -->
<f:section name="Configuration">
	<flux:flexform wizardTab="TROTZDEM" id="trotzdem_thumbnails" label="TROTZDEM e.V.: Rasterelemente" description="@todo: hier eine Beschreibung" icon="../typo3conf/ext/fluidcontent_bootstrap/Resources/Public/Icons/icon-twitter.png">
		<flux:flexform.sheet name="thumbnails" label="Thumbnails">
			<flux:flexform.field.input name="width" default="960" label="Responsive grid of highly configurable thumbnails configurable with lightbox-style opening of content" />
			<flux:flexform.field.input name="ratio" default="16/9" label="Ratio of images, for example 0.75 (very grid friendly), 16/9 (widescreen) or 1.32 (nice golden ratio portrait)" />
			<flux:flexform.section name="thumbnails">
				<f:render section="ImageObject" arguments="{_all}" />
				<f:render section="ContentObject" arguments="{_all}" />
				<f:render section="ContactObject" arguments="{_all}" />
			</flux:flexform.section>
		</flux:flexform.sheet>
		<f:if condition="{thumbnails -> f:count()}">
			<flux:flexform.grid>
				<flux:flexform.grid.row>
				<f:for each="{thumbnails}" as="itemSectionObjects" iteration="iteration">
					<f:for each="{itemSectionObjects}" as="object" key="objectType">
					<v:var.set name="width" value="{object.class -> v:format.substring(start: 4)}" />
						<v:var.set name="percent" value="{width  -> v:math.division(b: 12) -> v:math.product(b: 100) -> v:math.round(decimals: 2)}" />
						<f:if condition="{0: objectType, 1: object.disabled} == {0: 'content', 1: 0}">
							<flux:flexform.grid.column style="width: {percent}%">
								<flux:flexform.content name="contentElements.{object.name}" label="{percent}%, {object.label}" />
							</flux:flexform.grid.column>
						</f:if>
						<f:if condition="{0: objectType, 1: object.disabled} == {0: 'contact', 1: 0}">
							<div style="width: {percent}%">
								<f:render section="contactPreview" arguments="{contact: contact}"/>
							</div>
						</f:if>
					</f:for>
				</f:for>
				</flux:flexform.grid.row>
			</flux:flexform.grid>
		</f:if>
	</flux:flexform>
</f:section>

<!-- Deklaration für Sichtbarkeit & Breite des jeweiligen Teasers -->
<f:section name="SharedObject">
	<flux:flexform.field.checkbox name="disabled" label="Disable/hide this object" />
	<flux:flexform.field.select name="class" label="Breite" default="span12" items="{span1: '1 von 12 Spalten', span2: '2 von 12 Spalten', span3: '3 von 12 Spalten', span4: '4 von 12 Spalten', span5: '5 von 12 Spalten', span6: '6 von 12 Spalten', span7: '7 von 12 Spalten', span8: '8 von 12 Spalten', span9: '9 von 12 Spalten', span10: '10 von 12 Spalten', span11: '11 von 12 Spalten', span12: '12 von 12 Spalten'}" />
	<flux:flexform.field.select name="background" label="Hintergrund" default="transparent" items="{transparent: '', gelb: 'gelb', gruen: 'grün', petrol: 'petrol', pflaume: 'pflaume', rot: 'rot', rot-hell: 'rot (hell)', rot-matt: 'rot (matt)', silber: 'silber', tuerkis: 'türkis', tuerkis-hell: 'türkis (hell)',}"/>
	<flux:flexform.field.checkbox name="roundedCorner" label="Ecke (unten rechts) rund?" />
	<flux:flexform.field.select name="visibility" label="Sichtbar für" default="all" items="{all: 'Überall', hidden-desktop: 'Mobil', visible-desktop: 'Desktops', visible-phone: 'Telefone', visible-tablet: 'Tablets'}"/>
</f:section>

<!-- Deklaration für Teaser, bei denen ein Bild als einziger Inhalt verwendet wird -->
<f:section name="ImageObject">
	<flux:flexform.object name="image" label="Bild">
		<f:render section="SharedObject" arguments="{_all}" />
		<flux:flexform.field.input name="file" eval="trim">
			<flux:flexform.field.wizard.link />
		</flux:flexform.field.input>
		<flux:flexform.field.checkbox name="addWell" />
		<flux:flexform.field.select name="scaling" items="{0: {0: 'Disable', 1: ''}, 1: {0: 'Crop', 1: 'c'}, 2: {0: 'Preserve maximums', 1: 'm'}}" />
		<flux:flexform.field.input name="title" />
		<flux:flexform.field.input name="header" />
		<flux:flexform.field.text name="caption" />
	</flux:flexform.object>
</f:section>

<!-- Deklaration für Teaser, bei denen Inhaltselemente (normale CE's) angelegt werden können -->
<f:section name="ContentObject">
	<flux:flexform.object name="content" label="Inhalt">
		<f:render section="SharedObject" arguments="{_all}" />
		<flux:flexform.field.input name="name" />
		<flux:flexform.field.input name="label" />
		<flux:flexform.field.text name="message" label="">
			Save this content element then insert content elements through page module to fill in this thumbnail.
		</flux:flexform.field.text>
	</flux:flexform.object>
</f:section>

<!-- Deklaration für custom Teaser (Kontaktbox) -->
<f:section name="ContactObject">
	<flux:flexform.object name="contact" label="Kontaktbox">
		<f:render section="SharedObject" arguments="{_all}" />
		<flux:flexform.grid>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column>
					<flux:flexform.field.input name="phone" label="Telefon"/>
					<flux:flexform.field.input name="email" label="E-Mail" />
				</flux:flexform.grid.column>
			</flux:flexform.grid.row>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column>
					<flux:flexform.field.checkbox name="renderMap" label="Google-Maps Karte anzeigen?"  />
					<flux:flexform.field.input name="zoom" label="Zoom Level der Google Maps Karte (1 - 17)" required="1" />
				</flux:flexform.grid.column>
			</flux:flexform.grid.row>
			<flux:flexform.grid.row>
				<flux:flexform.grid.column>
					<flux:flexform.field.input name="title" label="Adresstitel" required="1" />
					<flux:flexform.field.input name="street" label="Straße & Nr" required="1" />
					<flux:flexform.field.input name="city" label="PLZ & Ort" required="1" />
				</flux:flexform.grid.column>
			</flux:flexform.grid.row>
		</flux:flexform.grid>
	</flux:flexform.object>
</f:section>

<!-- Deklaration der Ausgabe BackEnd als Vorschau -->
<f:section name="Preview">
	<f:render section="contactPreview" arguments="{contact: contact}"/>
	<flux:widget.grid />
</f:section>

<!-- Deklaration der Ausgabe im FrontEnd -->
<f:section name="Main">
	<ul class="thumbnails">
		{thumbnails -> f:debug(title: 'thumbnails') -> f:comment()}
		<f:for each="{thumbnails}" as="itemSectionObjects" iteration="iteration">
		{itemSectionObjects -> f:debug(title: 'itemSectionObjects') -> f:comment()}
			<f:for each="{itemSectionObjects}" as="object" key="objectType" iteration="objectsIterator">
			{object -> f:debug(title: 'object {iteration.cycle}') -> f:comment()}
				<f:if condition="{object.disabled} < 1">
					{objectType -> f:debug(title: 'objectType') -> f:comment()}
					<v:switch value="{objectType}">
						<v:case case="image" break="TRUE">
							<li class="{object.class}{f:if(condition: object.visibility, then: ' {object.visibility}')}">
								<div class="{f:if(condition: object.addWell, then: ' well')}{f:if(condition: object.background, then: ' {object.background}')}{f:if(condition: object.roundedCorner, then: ' roundedCorner')}">
									<v:var.set name="imageWidth" value="{width -> v:math.division(b: 12) -> v:math.product(b: object.class)}" />
									<v:var.set name="imageHeight" value="{ratio -> v:math.division(b: imageWidth)}" />
									<a href="#" class="thumbnail">
										<f:image src="{object.file}" width="{imageWidth}{object.scaling}" height="{imageHeight}{object.scaling}" alt="{object.title}" />
									</a>
									<f:if condition="{0: object.header, 1: object.caption} != {0: '', 1: ''}">
										<f:if condition="{object.header}">
											<h4>{object.header}</h4>
										</f:if>
										<f:if condition="{object.caption}">
											<f:format.html>{object.caption}</f:format.html>
										</f:if>
									</f:if>
								</div>
							</li>
						</v:case>
						<v:case case="content" break="TRUE">
							<li class="{object.class}{f:if(condition: object.visibility, then: ' {object.visibility}')}">
								<div class="{f:if(condition: object.addWell, then: ' well')}{f:if(condition: object.background, then: ' {object.background}')}{f:if(condition: object.roundedCorner, then: ' roundedCorner')}{f:if(condition: object.visibility, then: ' {object.visibility}')}">
									<flux:flexform.renderContent area="contentElements.{object.name}" />
								</div>
							</li>
						</v:case>

						<v:case case="contact" break="TRUE">
							<li class="{object.class}{f:if(condition: object.visibility, then: ' {object.visibility}')}">
								<div class="kontakt-box{f:if(condition: object.addWell, then: ' well')}{f:if(condition: object.background, then: ' {object.background}')}{f:if(condition: object.roundedCorner, then: ' roundedCorner')}{f:if(condition: object.visibility, then: ' {object.visibility}')}">
									<h2 class="title">KONTAKT</h2>
									<p class="phone">{object.phone}</p>
									<div class="map">
										<div id="map-{iteration.cycle}" class="inner"></div>
									</div>
									<address>
										<strong>{object.title}</strong><br>
										{object.street}<br>
										{object.city}<br>
									</address>
									<div class="icons">
									<f:link.email email="{object.email}"><i class="icon-envelope icon"></i></f:link.email>
									<f:link.page pageUid="15"><i class="icon-map-marker icon"></i></f:link.page>
									</div>
									<f:render section="assets" arguments="{object: object, iteration: iteration}" />
								</div>
							</li>
						</v:case>
					</v:switch>
				</f:if>
			</f:for>
		</f:for>
	</ul>
</f:section>

<f:section name="contactPreview">
<table>
		<tr>
			<td><strong>Telefon:</strong></td>
			<td>{contact.phone}</td>
		</tr>
		<tr>
			<td><strong>GM Karte zeigen:</strong></td>
			<td><f:if condition="{contact.renderMap}" then="Ja" else="Nein" /></td>
		</tr>
		<tr>
			<td><strong>Adresse:</strong></td>
			<td>{contact.title}<br>{contact.street}<br>{contact.city}</td>
		</tr>
	</table>
</f:section>
<f:section name="assets">
<v:asset.script name="google-maps-api" path="https://maps.google.com/maps/api/js?sensor=false" external="1" standalone="1" allowMoveToFooter="1" />
<v:asset.script name="goMap" group="thirdParty" path="{f:uri.resource(path: 'thirdparty/goMap/js/jquery.gomap-1.3.2.min.js', extensionName: 'trotzdem_template')}" external="0" dependencies="jquery,google-maps-api" allowMoveToFooter="1" />

<v:asset.script name="goMapInit-{iteration.cycle}" group="thirdParty" dependencies="jquery,goMap" allowMoveToFooter="1" standalone="0">
	<v:format.plaintext>;$(function() {</v:format.plaintext>
		<v:format.plaintext>$("#map-{iteration.cycle}").goMap({</v:format.plaintext>
			<v:format.plaintext>address: '{object.street},{object.city},Germany',</v:format.plaintext>
			<v:format.plaintext>navigationControl: false,</v:format.plaintext>
			<v:format.plaintext>zoom: {object.zoom},</v:format.plaintext>
			<v:format.plaintext>oneInfoWindow: false,</v:format.plaintext>
			<v:format.plaintext>mapTypeControl: false,</v:format.plaintext>
			<v:format.plaintext>maptype: 'ROADMAP',</v:format.plaintext>
			<v:format.plaintext>markers: [{address: '{object.street},{object.city},Germany',icon: '{f:uri.resource(path: 'images/poi-marker.png', extensionName: 'trotzdem_template')}'}]</v:format.plaintext>
		<v:format.plaintext>});</v:format.plaintext>
		var center;

		function calculateCenter() {
			center = $.goMap.map.getCenter();
		}

		google.maps.event.addDomListener($.goMap.map, 'idle', function() {
			calculateCenter();
		});

		google.maps.event.addDomListener(window, 'resize', function() {
			$.goMap.map.setCenter(center);
		});
		console.log($.goMap);
	<v:format.plaintext>});</v:format.plaintext>
</v:asset.script>
</f:section>

</div>




